<template>
  <card title="Непроверенные ингредиенты">
    <div v-if="ingredients.length > 0">
      <table v-if="!requestInProgress" class="table">
        <tbody>
          <tr v-for="ingredient in ingredients"
              :key="ingredient.id">
            <td class="align-middle">{{ ingredient.name }}</td>
            <td class="align-middle">
              <b-button variant="primary"
                        @click="openIngredient(ingredient.id)">
                Проверить
              </b-button>
            </td>
          </tr>
        </tbody>
      </table>

      <div v-else class="d-flex justify-content-center my-3">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <paginate v-if="pagesTotal > 1"
                :page-count="pagesTotal"
                :click-handler="changePage"
                :container-class="'d-flex justify-content-center pagination'"
                :page-class="'page-item'"
                :prev-class="'page-item'"
                :next-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-link-class="'page-link'"
                :next-link-class="'page-link'"
                prev-text="&laquo;"
                next-text="&raquo;"
      />
    </div>

    <div v-else>
      Нет ингредиентов на проверку.
    </div>

    <b-modal
      id="approve-ingredient-modal"
      v-model="displayIngredientModal"
      title="Проверить ингредиент"
      size="xl"
      header-bg-variant="light"
      body-bg-variant="light"
      hide-footer
      centered
      scrollable
      @hidden="hideIngredientModal">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div v-if="selectedIngredient">
              <ingredient-editor :ingredient-data="selectedIngredient"
                                 :approve-mode="true"
                                 @ingredient-was-updated="handleUpdatedIngredient"
                                 @ingredient-was-declined="handleDeclinedIngredient"/>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </card>
</template>

<script>
import axios from 'axios';
import Paginate from 'vuejs-paginate/src/components/Paginate.vue';
import IngredientEditor from '~/components/dashboard/IngredientEditor';

export default {
  name: 'ApproveIngredientsPage',
  middleware: 'moderator-access',

  components: {
    Paginate,
    IngredientEditor,
  },

  data: () => ({
    ingredients: [],
    requestInProgress: false,
    currentPage: 1,
    pagesTotal: 1,
    selectedIngredientId: null,
    displayIngredientModal: false,
  }),

  computed: {
    selectedIngredient () {
      if (!this.selectedIngredientId) {
        return undefined;
      }

      return this.ingredients.find(item => item.id === this.selectedIngredientId);
    },
  },

  watch: {
    selectedIngredient (val, oldVal) {
      this.displayIngredientModal = !!val;
    },
  },

  created () {
    this.loadIngredients();
  },

  methods: {
    changePage (page) {
      this.currentPage = page;
      this.loadIngredients();
    },
    loadIngredients () {
      if (this.requestInProgress) {
        return;
      }
      this.requestInProgress = true;
      axios.get('/api/dashboard/ingredient/unapproved', { params: { page: this.currentPage } })
        .then(({ data }) => {
          this.ingredients = data.data || [];
          // eslint-disable-next-line camelcase
          this.currentPage = data.meta?.current_page || this.currentPage;
          // eslint-disable-next-line camelcase
          this.pagesTotal = data.meta?.last_page || this.pagesTotal;
          this.requestInProgress = false;
        })
        .catch(() => {
          this.requestInProgress = false;
        });
    },
    openIngredient (id) {
      this.selectedIngredientId = id;
    },
    hideIngredientModal () {
      this.selectedIngredientId = null;
    },
    handleUpdatedIngredient ({ ingredient }) {
      this.hideIngredientModal();
      this.loadIngredients();
      this.$store.dispatch('recipes/updateIngredient', ingredient);
    },
    handleDeclinedIngredient ({ id }) {
      this.hideIngredientModal();
      const idx = this.ingredients.findIndex(i => (i.id === id));
      if (idx !== -1) {
        this.ingredients.splice(idx, 1);
      }
    },
  },
}
</script>
