<template>
  <card title="Непроверенные рецепты">
    <div v-if="recipes.length > 0">
      <table v-if="!requestInProgress" class="table">
        <tbody>
          <tr v-for="recipe in recipes"
              :key="recipe.id">
            <td class="align-middle">{{ recipe.name }}</td>
            <td class="align-middle">
              <b-button variant="primary"
                        @click="openRecipe(recipe.id)">
                Проверить
              </b-button>
            </td>
          </tr>
        </tbody>
      </table>

      <div v-else class="d-flex justify-content-center my-3">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <paginate v-if="pagesTotal > 1"
                :page-count="pagesTotal"
                :click-handler="changePage"
                :container-class="'d-flex justify-content-center pagination'"
                :page-class="'page-item'"
                :prev-class="'page-item'"
                :next-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-link-class="'page-link'"
                :next-link-class="'page-link'"
                prev-text="&laquo;"
                next-text="&raquo;"
      />
    </div>

    <div v-else>
      Нет рецептов на проверку.
    </div>

    <b-modal
      id="approve-recipe-modal"
      v-model="displayRecipeModal"
      title="Проверить рецепт"
      size="xl"
      header-bg-variant="light"
      body-bg-variant="light"
      hide-footer
      centered
      scrollable
      @hidden="hideRecipeModal">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div v-if="selectedRecipe">
              <recipe-editor :recipe-data="selectedRecipe"
                             :approve-mode="true"
                             @recipe-was-updated="handleUpdatedRecipe"
                             @recipe-was-declined="handleDeclinedRecipe"/>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </card>
</template>

<script>
import axios from 'axios';
import Paginate from 'vuejs-paginate/src/components/Paginate.vue';
import RecipeEditor from '~/components/dashboard/RecipeEditor';

export default {
  name: 'ApproveRecipesPage',
  middleware: 'moderator-access',

  components: {
    Paginate,
    RecipeEditor,
  },

  data: () => ({
    recipes: [],
    requestInProgress: false,
    currentPage: 1,
    pagesTotal: 1,
    selectedRecipeId: null,
    displayRecipeModal: false,
  }),

  computed: {
    selectedRecipe () {
      if (!this.selectedRecipeId) {
        return undefined;
      }

      return this.recipes.find(item => item.id === this.selectedRecipeId);
    },
  },

  watch: {
    selectedRecipe (val, oldVal) {
      this.displayRecipeModal = !!val;
    },
  },

  created () {
    this.loadRecipes();
  },

  methods: {
    changePage (page) {
      this.currentPage = page;
      this.loadRecipes();
    },
    loadRecipes () {
      if (this.requestInProgress) {
        return;
      }
      this.requestInProgress = true;
      axios.get('/api/dashboard/recipe/unapproved', { params: { page: this.currentPage } })
        .then(({ data }) => {
          this.recipes = data.data || [];
          // eslint-disable-next-line camelcase
          this.currentPage = data.meta?.current_page || this.currentPage;
          // eslint-disable-next-line camelcase
          this.pagesTotal = data.meta?.last_page || this.pagesTotal;
          this.requestInProgress = false;
        })
        .catch(() => {
          this.requestInProgress = false;
        });
    },
    openRecipe (id) {
      this.selectedRecipeId = id;
    },
    hideRecipeModal () {
      this.selectedRecipeId = null;
    },
    handleUpdatedRecipe () {
      this.hideRecipeModal();
      this.loadRecipes();
    },
    handleDeclinedRecipe ({ id }) {
      this.hideRecipeModal();
      const idx = this.recipes.findIndex(i => (i.id === id));
      if (idx !== -1) {
        this.recipes.splice(idx, 1);
      }
    },
  },
}
</script>
