// Bootstrap default styles
// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display:          inline-block;
  font-family:      $btn-font-family;
  font-weight:      $btn-font-weight;
  color:            $body-color;
  text-align:       center;
  vertical-align:   middle;
  user-select:      none;
  background-color: transparent;
  border:           $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover {
    color:           $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    //box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    //@include box-shadow($btn-active-box-shadow);

    &:focus {
      //@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight:     $font-weight-normal;
  color:           $link-color;
  text-decoration: $link-decoration;

  @include hover {
    color:           $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    //box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color:          $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

//
// Block button
//

.btn-block {
  display: block;
  width:   100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// Custom styles

.btn-loading {
  position:       relative;
  pointer-events: none;
  color:          transparent !important;

  &:after {
    animation:          spinAround 500ms infinite linear;
    border:             2px solid #dbdbdb;
    border-radius:      50%;
    border-right-color: transparent;
    border-top-color:   transparent;
    content:            "";
    display:            block;
    height:             1em;
    width:              1em;
    position:           absolute;
    left:               calc(50% - (1em / 2));
    top:                calc(50% - (1em / 2));
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.btn-recipe-actions {
  // padding: (6rem/16);
  background-color: $gray-500;
  color:            $white;

  @include hover {
    color: $gray-100;
  }

  &:focus,
  &.focus {
    outline: 0;
    color:   $gray-100;
  }

  /*  // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      opacity: $btn-disabled-opacity;
      @include box-shadow(none);
    }*/

  /*  &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {

      &:focus {

      }
    }*/

  &_active {
    background-color: $primary;
    color:            $white;

    @include hover {
      color:            $white;
      background-color: darken($primary, 10%);
    }

    &:focus,
    &.focus {
      color: $white;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: $white;
      &:focus {
        //
      }
    }
  }
}