.card {
  overflow:   hidden;
  //border:     1px solid $gray-200;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);

  .card-header {
    //padding-bottom: 15px;
    font-size:      (22rem/16);
    font-weight:    bold;

    & + .card-body {
      padding-top: 15px;
    }
  }
}

.search-header {
  display:         flex;
  justify-content: space-between;
}