.navbar {
  font-weight: 600;
  box-shadow:  0 4px 20px rgba(0, 0, 0, 0.03);
}

.navbar-icon {
  height: 1.25rem;
}

.nav-item {
  .dropdown-menu {
    border:     none;
    margin-top: .5rem;
    border-top: 1px solid #f2f2f2 !important;
    @include box-shadow($dropdown-box-shadow);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }
}

.nav-link {
  .svg-inline--fa {
    font-size: 1.4rem;
  }
}

// Хэлпер для отступа основного блока при фиксированном навбаре
.navbar-padding-top {
  padding-top: (56rem/16);
  @include media-breakpoint-up(lg) {
    padding-top: (66rem/16);
  }
}