.profile-photo {
  width:               2rem;
  height:              2rem;
  margin:              -.375rem 0;
  border:              1px solid $primary;
  border-radius:       $border-radius-sm;
  background-repeat:   no-repeat;
  background-position: center center;
  background-size:     contain;
}