$nav-border-radius: $border-radius-sm;
$nav-body-bg: $white;


.nav-block-header {
  font-weight:   bold;
  font-size:     (24rem/16);
  margin-bottom: 30px;
}

.nav-block-body {
  background:    $nav-body-bg;
  box-shadow:    0 4px 20px rgba(0, 0, 0, 0.03);
  border-radius: $nav-border-radius;
  padding:       30px 0;

  .nav-icon {
    color:        $primary;
    margin-right: (10rem/16);
  }

  & .nav-pills {
    .nav-link {
      display:       flex;
      align-items:   center;

      padding:       0.75rem 1.75rem;
      border-radius: 0;
      color:         $yiq-text-dark;

      &:hover {
        background-color: $nav-link-bg-hover;
      }
      &.active {
        background-color: $nav-link-bg-active;
        color:            $nav-link-text-active;

        .nav-icon {
          color: $nav-link-text-active;
        }
      }
    }
    & .disabled {
      color:          $nav-link-disabled-color;
      pointer-events: none;
      cursor:         default;

      .nav-icon {
        color: $nav-link-disabled-color;
      }
    }
  }
}