.page-enter-active,
.page-leave-active {
  transition: opacity .2s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .15s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

.slide-enter-active {
  // transition-duration:        .3s;
  // transition-timing-function: ease-in;
  transition:                 padding-top .3s ease-in,
                              padding-bottom .3s ease-in,
                              max-height .3s ease-in,
                              opacity .3s ease-in;
}

.slide-leave-active {
  // transition-duration: .3s;
  // transition-timing-function: ease-out;
  transition: padding-top .3s ease-out,
              padding-bottom .3s ease-out,
              max-height .3s ease-out,
              opacity .3s ease-out;
}

.slide-enter-to, .slide-leave {
  max-height: 100vh;
  overflow:   hidden;
}

.slide-enter, .slide-leave-to {
  overflow:       hidden;
  opacity: 0;
  max-height:     0;
  padding-top:    0;
  padding-bottom: 0;
}