$recipe-card-body-bg: $white;

.recipe-card-full {
  border-radius:    $border-radius-sm;
  background-color: $recipe-card-body-bg;
  box-shadow:       0 4px 20px rgba(0, 0, 0, 0.03);

  &__image-container {
    position:            relative;
    margin-bottom:       (40rem/16);
    padding-top:         61%;

    @include media-breakpoint-up(md) {
      padding-top:         37%;
    }

    border-radius:       $border-radius;

    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center;
  }

  @include media-breakpoint-up(md) {
    &__top-line {
      display:         flex;
      justify-content: space-between;
    }
  }

  &__title {
    font-weight: bold;
  }

  &__info,
  &__ingredients {
    padding-left:    0;
    list-style-type: none;
  }
}