.recipe-card-short {
  position:         relative;
  width:            100%;
  overflow:         hidden;

  background-color: $white;
  border:           2px solid transparent;
  border-radius:    $border-radius;

  &:hover {
    border-color: $gray-400;
  }

  &__image-container {
    position:            relative;
    padding-top:         61%;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center;
  }
  &__header {
    background-color: $white;
    padding:          (20rem/16);
    font-size:        1rem;
    line-height:      (19rem/16);

    &:hover {
      //
    }
  }

  &__info {
    position:        absolute;
    top:             0;
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    width:           100%;
    height:          100%;
    padding:         (20rem/16);
  }

  &__top-line {
    display:         flex;
    justify-content: space-between;
    &_info {
      font-weight: normal;
    }
  }

  & .btn-recipe-actions, & .btn-recipe-actions_active {
    @include button-size((6rem/16), (4rem/16), $btn-font-size, 1rem, $btn-border-radius-sm);
  }
}