<template>
  <div>
    <div class="row">
      <div class="col-md-8">
        <b-form-file
          v-bind="$attrs"
          :value="value"
          :state="Boolean(value) ? null : (Boolean(defaultImage) ? null : false)"
          :placeholder="defaultText"
          drop-placeholder="Переместите изображение сюда..."
          accept="image/jpg, image/jpeg, image/png"
          @input="$emit('input', $event)"
        />
      </div>
      <div v-if="value" class="col">
        <b-button variant="danger" @click="$emit('remove-file')">Удалить</b-button>
      </div>
    </div>

    <div v-if="value && filePreview" class="form-input-image_preview-container mt-4">
      <img :src="filePreview"
           :alt="value.name"
           class="img-fluid form-input-image">
    </div>
    <div v-else-if="defaultImage" class="form-input-image_preview-container mt-4">
      <img :src="defaultImage"
           class="img-fluid form-input-image">
    </div>
  </div>
</template>

<script>

let uid = 0;
export default {
  name: 'FormInputImage',

  model: {
    prop: 'value',
    event: 'input',
  },

  props: {
    value: {
      type: File,
      default: null,
    },
    defaultImage: {
      type: String,
      default: null,
    },
    defaultText: {
      type: String,
      default: 'Выберите изображение...',
    },
  },

  data: () => ({
    filePreview: '',
  }),

  watch: {
    value (val, oldVal) {
      if (!val) {
        return;
      }
      const reader = new FileReader();
      reader.onload = e => {
        this.filePreview = e.target.result;
      };
      reader.readAsDataURL(val);
    },
  },

  beforeCreate () {
    this.componentId = 'input-image-' + uid;
    uid = uid + 1;
  },

}
</script>
