<template>
  <div :id="componentId"></div>
</template>

<script>
import debounce from 'lodash.debounce';
import Editor from 'tui-editor';

require('codemirror/lib/codemirror.css');
require('tui-editor/dist/tui-editor.css');
require('tui-editor/dist/tui-editor-contents.css');

let uid = 0;

export default {
  name: 'TextEditor',

  props: {
    options: {
      type: Object,
      default () {
        return {};
      },
    },
    // v-model can decrease performance, so 1-way binding is used.
    value: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    editor: null,
  }),

  beforeCreate () {
    this.componentId = 'textarea-editor-' + uid;
    uid = uid + 1;
  },

  mounted () {
    this.contentWasUpdatedDebounced = debounce(this.contentWasUpdated, 500);

    const defaultOptions = {
      el: document.querySelector('#' + this.componentId),
      initialValue: this.value,
      initialEditType: 'wysiwyg',
      previewStyle: 'vertical',
      height: 'auto',
      placeholder: 'Опишите способ приготовления блюда.',
      hideModeSwitch: true,
      usageStatistics: false,
      language: 'ru',
      toolbarItems: [
        'heading',
        'bold',
        'italic',
        'strike',
        // 'divider',
        // 'hr',
        'quote',
        // 'divider',
        'ul',
        'ol',
        // 'task',
        // 'indent',
        // 'outdent',
        'divider',
        'table',
        // 'image',
        // 'link',
        // 'divider',
        // 'code',
        // 'codeblock'
      ],
    };

    this.editor = new Editor(Object.assign(defaultOptions, this.options));
    this.editor.on('change', this.contentWasUpdatedDebounced);
  },

  beforeDestroy () {
    this.editor.off('change');
    this.editor.remove();
  },

  methods: {
    setContent (value) {
      this.editor.setMarkdown(value);
    },
    clearContent () {
      this.editor.setValue('');
    },
    contentWasUpdated () {
      this.$emit('content-was-updated', this.editor.getMarkdown());
    },
  },

}
</script>
