<template>
  <card class="mb-4">
    <template v-slot:header>
      <div class="search-header"
           @click.prevent="displaySearchOptions = !displaySearchOptions">
        <div class="search-header-title">
          Параметры поиска
        </div>
        <div class="search-header-options">
          <a href="#"
             @click.prevent.stop="displaySearchOptions = !displaySearchOptions">
            <fa icon="bars"
                fixed-width/>
          </a>
        </div>
      </div>
    </template>
    <template v-slot:default>
      <div v-if="displaySearchOptions">
        <div class="form-group mb-4">
          <label>Цена за порцию (руб)</label>
          <vue-slider v-if="!filters.anyCost"
                      v-model="filters.portionCost"
                      :enable-cross="false"
                      :interval="100"
                      :min="minCostLimiter"
                      :max="maxCostLimiter"
                      :min-range="1"
                      adsorb
                      contained
                      marks/>
        </div>
        <!-- <div class="form-group">
           <label>Категория блюда</label>
         </div>-->
        <div class="form-group">
          <label>Время приготовления, не более (мин)</label>
          <input v-model="filters.cookingTime" type="number" class="form-control">
        </div>

        <div class="form-group">
          <b-form-checkbox
            v-model="filters.onlyChecked"
            value="1"
            unchecked-value="0"
          >Только проверенные
          </b-form-checkbox>
        </div>

        <div class="form-group">
          <b-form-checkbox
            v-model="filters.vegetarian"
            value="1"
            unchecked-value="0"
          >Только вегетарианские
          </b-form-checkbox>
        </div>

        <div class="form-group">
          <b-form-checkbox
            v-model="filters.vegan"
            value="1"
            unchecked-value="0"
          >Только веганские
          </b-form-checkbox>
        </div>

        <b-button variant="primary" @click.prevent="applyFilters">
          Применить
        </b-button>
      </div>
    </template>
  </card>
</template>

<script>
'use strict';
import { supportsStorage } from '~/utils';

export default {
  name: 'RecipesSearchOptions',

  props: {
    storageKey: {
      type: String,
      default: null,
    },
    initialFiltersSettings: {
      type: Object,
      default: null,
    },
    minCostLimiter: {
      type: Number,
      required: true,
    },
    maxCostLimiter: {
      type: Number,
      required: true,
    },
  },

  data: () => ({
    displaySearchOptions: false,
    storageAvailable: false,
    filters: null,
  }),

  computed: {
    useStorage () {
      return this.storageAvailable && this.storageKey !== null;
    },
  },

  created () {
    if (this.initialFiltersSettings !== null) {
      this.filters = this.initialFiltersSettings;
    }
    this.storageAvailable = supportsStorage();
    this.loadFilters();
    this.$emit('filters-initialised', { filters: this.filters });
  },

  methods: {
    saveFilters () {
      if (!this.useStorage) {
        return;
      }
      localStorage.setItem(this.storageKey, JSON.stringify(this.filters))
    },
    loadFilters () {
      if (this.useStorage) {
        const filterSettings = localStorage.getItem(this.storageKey);
        if (filterSettings) {
          this.filters = { ...this.filters, ...JSON.parse(filterSettings) };
        }
      }
    },
    applyFilters () {
      this.saveFilters();
      this.$emit('filters-applied', { filters: this.filters });
    },
  },
}
</script>
