<template>
  <article class="recipe-card-full" itemscope itemtype="http://schema.org/Recipe">
    <div :style="{'background-image': `url(${recipe.image_url})`}"
         class="recipe-card-full__image-container"
         itemprop="image">
    </div>

    <div class="recipe-card-full__top-line mb-4 mb-md-0">
      <h1 class="recipe-card-full__title" itemprop="name">
        {{ recipe.name }}
      </h1>
      <div class="recipe-card-full__buttons d-none d-md-block">
        <b-button v-if="!isFavorite"
                  class="btn-sm btn-recipe-actions"
                  @click="addToFavorite">
          <fa icon="heart" fixed-width/>
          Добавить в избранное
        </b-button>
        <b-button v-else
                  class="btn-sm btn-recipe-actions_active"
                  @click="removeFromFavorite">
          <fa icon="heart" fixed-width/>
          Удалить из избранного
        </b-button>
        <b-button v-if="!isPostponed"
                  class="btn-sm btn-recipe-actions"
                  @click="addToPostponed">
          <fa icon="clock" fixed-width/>
          Отложить
        </b-button>
        <b-button v-else
                  class="btn-sm btn-recipe-actions_active"
                  @click="removeFromPostponed">
          <fa icon="clock" fixed-width/>
          Удалить из отложенного
        </b-button>
      </div>
      <div class="recipe-card-full__buttons d-md-none">
        <b-button v-if="!isFavorite"
                  class="btn-sm btn-recipe-actions mr-1"
                  @click="addToFavorite">
          <fa icon="heart" fixed-width/>
        </b-button>
        <b-button v-else
                  class="btn-sm btn-recipe-actions_active mr-1"
                  @click="removeFromFavorite">
          <fa icon="heart" fixed-width/>
        </b-button>
        <b-button v-if="!isPostponed"
                  class="btn-sm btn-recipe-actions"
                  @click="addToPostponed">
          <fa icon="clock" fixed-width/>
        </b-button>
        <b-button v-else
                  class="btn-sm btn-recipe-actions_active"
                  @click="removeFromPostponed">
          <fa icon="clock" fixed-width/>
        </b-button>
      </div>
    </div>

    <ul class="recipe-card-full__info mb-4">
      <li v-if="recipe.category">
        Тип блюда: <span itemprop="recipeCategory">{{ recipe.category.name }}</span>
      </li>
      <li>Как готовить:
        <span v-for="(cook, index) in recipe.cookingTypes"
              :key="cook.id"
              itemprop="cookingMethod">
          {{ cook.name }}<template v-if="index + 1 < recipe.cookingTypes.length">, </template>
        </span>
      </li>
      <li itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation">
        <span itemprop="calories">Калорийность: {{ recipe.portions_amount ? Math.round(recipe.calories / recipe.portions_amount) : 'Неизвестно' }}&nbsp;Ккал на порцию ({{ Math.round(recipe.calories_per_hundred) }} Ккал/100&nbsp;гр)</span>
      </li>
      <li>Цена порции: <span itemprop="estimatedCost">{{ recipe.portion_cost }}&nbsp;руб</span></li>
      <li>Количество порций: <span itemprop="recipeYield">{{ recipe.portions_amount }}</span></li>
      <li>
        Время приготовления:
        <span itemprop="totalTime">{{ recipe.cooking_time_minutes }}&nbsp;минут</span>
      </li>
    </ul>
    <h3>
      Ингредиенты
      <span class="small text-black-50">
        (на {{ recipe.portions_amount }} {{ recipe.portions_amount > 5 ? 'порций' : recipe.portions_amount === 1 ? 'порцию' : 'порции' }})
      </span>
    </h3>
    <ul class="recipe-card-full__ingredients mb-4">
      <li v-for="i in recipe.ingredients" :key="i.id" itemprop="recipeIngredient">
        {{ i.name }} - {{ i.amount }}{{ i.units }}
      </li>
    </ul>
    <h3>Способ приготовления</h3>
    <div itemprop="recipeInstructions" v-html="articleText"></div>

  </article>
</template>

<script>
import marked from 'marked';
import { mapGetters } from 'vuex';

// import showdown from 'showdown';
marked.setOptions({ gfm: true, breaks: true });
// const converter = new showdown.Converter({ simpleLineBreaks: true });

export default {
  name: 'RecipeCardFull',

  head () {
    return { title: this.recipe?.name || '' };
  },

  props: {
    recipe: {
      type: Object,
      required: true,
    },
  },

  computed: {
    articleText () {
      return marked(this.recipe.article_text);
      // return converter.makeHtml(this.recipe.article_text);
    },
    isFavorite () {
      return this.favoriteIds.indexOf(this.recipe.id) !== -1;
    },
    isPostponed () {
      return this.postponedIds.indexOf(this.recipe.id) !== -1;
    },
    ...mapGetters({
      user: 'auth/user',
      favoriteIds: 'recipes/favoriteIds',
      postponedIds: 'recipes/postponedIds',
    }),
  },

  created () {
    if (this.user && this.favoriteIds.length === 0 && this.postponedIds.length === 0) {
      this.$store.dispatch('recipes/getUserPreferencesFromServer', { initialLoad: true });
    }
  },

  methods: {
    addToFavorite () {
      this.$store.dispatch('recipes/sendAddToFavoriteRequest', { id: this.recipe?.id });
    },
    removeFromFavorite () {
      this.$store.dispatch('recipes/sendRemoveFromFavoriteRequest', { id: this.recipe?.id });
    },
    addToPostponed () {
      this.$store.dispatch('recipes/sendAddToPostponedRequest', { id: this.recipe?.id });
    },
    removeFromPostponed () {
      this.$store.dispatch('recipes/sendRemoveFromPostponedRequest', { id: this.recipe?.id });
    },
  },
}
</script>
