<template>
  <section class="recipe-card-short clickable" @click="open">
    <div :style="{'background-image': `url(${recipe.image_thumb_url})`}"
         class="recipe-card-short__image-container">
      <div class="recipe-card-short__info">
        <div class="recipe-card-short__top-line">
          <div class="recipe-card-short__top-line_info">
            <span v-b-popover.hover.top="'Время приготовления'"
                  class="badge badge-primary cursor-default"
                  @click.stop>
              {{ recipe.cooking_time_minutes }}&nbsp;минут
            </span>
          </div>
          <div class="recipe-card-short__buttons">
            <button v-b-popover.hover.top="'Добавить в избранное'"
                    v-if="!isFavorite"
                    class="btn btn-recipe-actions"
                    @click.stop="addToFavorite">
              <fa icon="heart" fixed-width/>
            </button>
            <button v-b-popover.hover.top="'Удалить из избранноо'"
                    v-else
                    class="btn btn-recipe-actions btn-recipe-actions_active"
                    @click.stop="removeFromFavorite">
              <fa icon="heart" fixed-width/>
            </button>
            <button v-b-popover.hover.top="'Отложить'"
                    v-if="!isPostponed"
                    class="btn btn-recipe-actions"
                    @click.stop="addToPostponed">
              <fa icon="clock" fixed-width/>
            </button>
            <button v-b-popover.hover.top="'Удалить из отложеннго'"
                    v-else
                    class="btn btn-recipe-actions btn-recipe-actions_active"
                    @click.stop="removeFromPostponed">
              <fa icon="clock" fixed-width/>
            </button>
            <!--<button class="btn btn-recipe-actions">
              <fa icon="thumbs-down" fixed-width/>
            </button>-->
          </div>
        </div>
        <div class="recipe-card-short_bottom-line">
          <span v-if="recipe.calories_per_hundred"
                class="badge badge-light cursor-default"
                @click.stop>
            {{ recipe.calories_per_hundred }}&nbsp;ккал/100гр
          </span>
          <span v-b-popover.hover.top="'Цена порции'"
                v-if="recipe.portion_cost > 0"
                class="badge badge-light cursor-default"
                @click.stop>
            {{ recipe.portion_cost }}&nbsp;руб
          </span>
        </div>
      </div>
    </div>

    <div class="recipe-card-short__header clickable"
         @click="open">{{ recipe.name }}
    </div>

    <!--<b-card
    :title="recipe.name"
    :img-src="recipe.image_thumb_url">
    <b-card-text>
      <ul>
        <li>Калорийность: {{ recipe.calories }}&nbsp;ккал/100гр</li>
        <li>Цена порции: {{ recipe.portion_cost }}&nbsp;руб</li>
        <li>Количество порций: {{ recipe.portions_amount }}</li>
        <li>Время приготовления: {{ recipe.cooking_time_minutes }}&nbsp;минут</li>
      </ul>
    </b-card-text>
    <b-button block variant="info" @click="open">Открыть</b-button>
  </b-card>-->
  </section>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'RecipeCardShort',

  props: {
    recipe: {
      type: Object,
      required: true,
    },
  },

  computed: {
    isFavorite () {
      return this.favoriteIds.indexOf(this.recipe.id) !== -1;
    },
    isPostponed () {
      return this.postponedIds.indexOf(this.recipe.id) !== -1;
    },
    ...mapGetters({
      user: 'auth/user',
      favoriteIds: 'recipes/favoriteIds',
      postponedIds: 'recipes/postponedIds',
    }),
  },

  created () {
    if (this.user && this.favoriteIds.length === 0 && this.postponedIds.length === 0) {
      this.$store.dispatch('recipes/getUserPreferencesFromServer', { initialLoad: true });
    }
  },

  methods: {
    open () {
      this.$emit('open-recipe', { id: this.recipe.id });
    },
    addToFavorite () {
      this.$store.dispatch('recipes/sendAddToFavoriteRequest', { id: this.recipe?.id });
    },
    removeFromFavorite () {
      this.$store.dispatch('recipes/sendRemoveFromFavoriteRequest', { id: this.recipe?.id });
    },
    addToPostponed () {
      this.$store.dispatch('recipes/sendAddToPostponedRequest', { id: this.recipe?.id });
    },
    removeFromPostponed () {
      this.$store.dispatch('recipes/sendRemoveFromPostponedRequest', { id: this.recipe?.id });
    },
  },

}
</script>
