<template>
  <card :title="title">
    <div v-if="recipes.length > 0">
      <table v-if="!requestInProgress" class="table">
        <thead>
          <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="recipe in recipes"
              :key="recipe.id">
            <td class="align-middle">{{ recipe.name }}</td>
            <td class="align-middle">{{ recipe.author.name }}</td>
            <td class="align-middle">
              <b-button-group>
                <b-button variant="primary"
                          size="sm"
                          @click="openRecipe(recipe.id)">
                  Изменить
                </b-button>
                <b-button variant="danger"
                          size="sm"
                          @click="deleteRecipe(recipe.id)">
                  Удалить
                </b-button>
              </b-button-group>
            </td>
          </tr>
        </tbody>
      </table>

      <div v-else class="d-flex justify-content-center my-3">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <paginate v-if="pagesTotal > 1 && currentPage"
                v-model="currentPage"
                :page-count="pagesTotal"
                :container-class="'d-flex justify-content-center pagination'"
                :page-class="'page-item'"
                :prev-class="'page-item'"
                :next-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-link-class="'page-link'"
                :next-link-class="'page-link'"
                prev-text="&laquo;"
                next-text="&raquo;"
      />
    </div>

    <div v-else>
      Нет рецептов.
    </div>

    <b-modal
      id="view-recipe-modal"
      v-model="displayRecipeModal"
      :title="`Изменить рецепт`"
      size="xl"
      header-bg-variant="light"
      body-bg-variant="light"
      hide-footer
      centered
      scrollable
      @hidden="hideRecipeModal">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div v-if="selectedRecipe">
              <recipe-editor :recipe-data="selectedRecipe"
                             approve-mode
                             @recipe-was-updated="handleUpdatedRecipe"/>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </card>
</template>

<script>
import axios from 'axios';
import RecipeEditor from '~/components/dashboard/RecipeEditor';
import Paginate from 'vuejs-paginate/src/components/Paginate.vue';

export default {
  name: 'AdminRecipesList',
  middleware: 'admin-access',

  components: {
    Paginate,
    RecipeEditor,
  },

  props: {
    page: {
      type: Number,
      default: 1,
    },
  },

  data: () => ({
    recipes: [],
    currentPage: null,
    pagesTotal: 1,
    totalRecipes: 0,
    requestInProgress: false,
    selectedRecipeId: null,
    displayRecipeModal: false,
  }),

  computed: {
    title () {
      let title = 'Все рецепты';
      if (this.totalRecipes > 0) {
        title += ` (${this.totalRecipes})`;
      }
      return title;
    },
    selectedRecipe () {
      if (!this.selectedRecipeId) {
        return undefined;
      }

      return this.recipes.find(item => item.id === this.selectedRecipeId);
    },
  },

  watch: {
    // у компонента vuejs-paginate нет способа задать односторонний биндинг
    page (val) {
      this.currentPage = val;
    },
    // вынесено сюда из метода clickHandler, потому что vuejs-paginate не запускает clickHandler при изменении страницы извне
    currentPage (val) {
      this.changePage(val);
    },
    selectedRecipe (val) {
      this.displayRecipeModal = !!val;
    },
  },

  created () {
    this.currentPage = this.page;
  },

  methods: {
    changePage (page) {
      this.$router.push({ name: this.$route.name, query: { ...this.$route.query, page } });
      this.loadRecipes();
    },
    loadRecipes () {
      if (this.requestInProgress) {
        return;
      }
      this.requestInProgress = true;
      axios.get('/api/admin/recipe/list', { params: { page: this.currentPage } })
        .then(({ data }) => {
          this.recipes = data.data || [];
          // eslint-disable-next-line camelcase
          this.currentPage = data.meta?.current_page || this.currentPage;
          // eslint-disable-next-line camelcase
          this.pagesTotal = data.meta?.last_page || this.pagesTotal;
          this.requestInProgress = false;
          this.totalRecipes = data.meta?.total || this.totalRecipes;
        })
        .catch(() => {
          this.requestInProgress = false;
        });
    },
    openRecipe (id) {
      this.selectedRecipeId = id;
    },
    deleteRecipe (id) {
      // удалить, а затем обновить список
      axios.delete(`/api/dashboard/recipe/${id}`)
        .then(() => {
          const idx = this.recipes.findIndex(recipe => recipe.id === id);
          if (idx !== -1) {
            this.recipes.splice(idx, 1);
          }
        })
    },
    hideRecipeModal () {
      this.selectedRecipeId = null;
    },
    handleUpdatedRecipe ({ recipe }) {
      this.hideRecipeModal();
      let recipes = this.recipes;
      const idx = recipes.findIndex(item => item.id === recipe.id);
      if (idx !== -1) {
        recipes[idx] = recipe;
        this.recipes = recipes;
      }
    },
  },
}
</script>
