<template>
  <card :title="$t('home')">
    {{ $t('you_are_logged_in') }}
  </card>
</template>

<script>
// import Vue from 'vue';

export default {
  middleware: 'auth',

  head () {
    return { title: this.$t('home') }
  },
}
</script>
