<template>
  <card title="Добавьте новое блюдо">
    <recipe-editor/>
  </card>
</template>

<script>
import RecipeEditor from '~/components/dashboard/RecipeEditor';

export default {
  head () {
    return { title: 'Добавить новый рецепт' };
  },
  name: 'AddRecipePage',
  middleware: 'auth',
  components: {
    RecipeEditor,
  },
}
</script>
