<template>
  <card title="Ваши рецепты">
    <div v-if="recipes.length > 0">
      <table v-if="!requestInProgress" class="table">
        <tbody>
          <tr v-for="recipe in recipes"
              :key="recipe.id">
            <td class="align-middle">{{ recipe.name }}</td>
            <td class="align-middle">
              <b-button v-if="!user.can_approve_recipes && recipe.is_checked"
                        variant="primary"
                        @click="openRecipe(recipe.id)">
                Смотреть
              </b-button>
              <b-button v-else
                        variant="primary"
                        @click="openRecipe(recipe.id)">
                Изменить
              </b-button>
            </td>
          </tr>
        </tbody>
      </table>

      <div v-else class="d-flex justify-content-center my-3">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <paginate v-if="pagesTotal > 1"
                :page-count="pagesTotal"
                :click-handler="changePage"
                :container-class="'d-flex justify-content-center pagination'"
                :page-class="'page-item'"
                :prev-class="'page-item'"
                :next-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-link-class="'page-link'"
                :next-link-class="'page-link'"
                prev-text="&laquo;"
                next-text="&raquo;"
      />
    </div>

    <div v-else>
      Вы пока не добавили ни одного рецепта.
    </div>

    <b-modal
      id="view-recipe-modal"
      v-model="displayRecipeModal"
      :title="`Добавить рецепт`"
      :size="(selectedRecipe && !selectedRecipe.is_checked || user.can_approve_recipes) ? 'xl' : 'lg'"
      header-bg-variant="light"
      body-bg-variant="light"
      hide-footer
      centered
      scrollable
      @hidden="hideRecipeModal">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div v-if="selectedRecipe">
              <recipe-editor v-if="!selectedRecipe.is_checked || user.can_approve_recipes"
                             :recipe-data="selectedRecipe"
                             @recipe-was-updated="handleUpdatedRecipe"/>
              <recipe-viewer v-else :recipe="selectedRecipe"/>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </card>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import RecipeEditor from '~/components/dashboard/RecipeEditor';
import RecipeViewer from '~/components/dashboard/RecipeViewer';
import Paginate from 'vuejs-paginate/src/components/Paginate.vue';

export default {
  name: 'MyRecipes',
  middleware: 'auth',

  components: {
    Paginate,
    RecipeEditor,
    RecipeViewer,
  },

  data: () => ({
    recipes: [],
    currentPage: 1,
    pagesTotal: 1,
    requestInProgress: false,
    selectedRecipeId: null,
    displayRecipeModal: false,
  }),

  computed: {
    selectedRecipe () {
      if (!this.selectedRecipeId) {
        return undefined;
      }

      return this.recipes.find(item => item.id === this.selectedRecipeId);
    },
    ...mapGetters({
      user: 'auth/user',
    }),
  },

  watch: {
    selectedRecipe (val, oldVal) {
      this.displayRecipeModal = !!val;
    },
  },

  created () {
    this.loadRecipes();
  },

  methods: {
    changePage (page) {
      this.currentPage = page;
      this.loadRecipes();
    },
    loadRecipes () {
      if (this.requestInProgress) {
        return;
      }
      this.requestInProgress = true;
      axios.get('/api/dashboard/recipe/my', { params: { page: this.currentPage } })
        .then(({ data }) => {
          this.recipes = data.data || [];
          // eslint-disable-next-line camelcase
          this.currentPage = data.meta?.current_page || this.currentPage;
          // eslint-disable-next-line camelcase
          this.pagesTotal = data.meta?.last_page || this.pagesTotal;
          this.requestInProgress = false;
        })
        .catch(() => {
          this.requestInProgress = false;
        });
    },
    openRecipe (id) {
      this.selectedRecipeId = id;
    },
    hideRecipeModal () {
      this.selectedRecipeId = null;
    },
    handleUpdatedRecipe ({ recipe }) {
      this.hideRecipeModal();
      let recipes = this.recipes;
      const idx = recipes.findIndex(item => item.id === recipe.id);
      if (idx !== -1) {
        recipes[idx] = recipe;
        this.recipes = recipes;
      }
    },
  },
}
</script>
