<template>
  <div>
    <no-ssr>
      <vue-tags-input id="popover-container"
                      v-model="cookingTypeName"
                      :class="{ 'is-invalid': selectedCookingTypes.length === 0 }"
                      :tags="selectedCookingTypeTags"
                      :autocomplete-items="unselectedCookingTypeTags"
                      :add-only-from-autocomplete="true"
                      :autocomplete-always-open="autocompleteIsOpened"
                      placeholder="Выберите способ приготовления"
                      @focus="openAutocomplete(true)"
                      @blur="openAutocomplete(false)"
                      @before-adding-tag="beforeAddingTag"
                      @before-deleting-tag="deleteTag"
      />
    </no-ssr>
  </div>
</template>

<script>
'use strict';

import { mapGetters } from 'vuex';

export default {
  name: 'CookingTypeSelector',

  props: {
    selectedCookingTypes: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    cookingTypeName: '',
    autocompleteIsOpened: false,
  }),

  computed: {
    unselectedCookingTypes () {
      return this.cookingTypes.filter(item => {
        return this.selectedCookingTypes.findIndex(sItem => sItem === item.id) === -1;
      });
    },
    unselectedCookingTypeTags () {
      return this.unselectedCookingTypes.map(item => ({ text: item.name }));
    },
    selectedCookingTypeTags () {
      return this.selectedCookingTypes.map(el => {
        const cookingType = this.cookingTypes.find(item => item.id === el);

        return {
          text: `${cookingType.name}`,
          id: el,
        };
      });
    },
    selectedCookingType () {
      if (!this.cookingTypeName) {
        return undefined;
      }
      return this.cookingTypes.find(item => item.name === this.cookingTypeName);
    },
    ...mapGetters({
      cookingTypes: 'recipes/cookingTypes',
    }),
  },

  methods: {
    openAutocomplete (action) {
      if (action) {
        // Хак. Иначе с пустым значением cookingTypeName из списка тегов ничего нельзя выбрать
        if (!this.cookingTypeName) {
          this.cookingTypeName = ' ';
        }
      } else {
        // this.cookingTypeName = '';
      }

      this.autocompleteIsOpened = action;
    },
    beforeAddingTag (obj) {
      console.log('before addng tag');
      if (obj?.tag?.text) {
        this.cookingTypeName = obj.tag.text;
      }
      this.$nextTick(() => {
        if (this.selectedCookingType) {
          this.$emit('cooking-type-was-selected', {
            id: this.selectedCookingType.id,
          });
          this.cookingTypeName = '';
        }
      });
    },
    deleteTag ({ tag: { id } }) {
      this.$emit('cooking-type-was-deleted', { id });
    },
  },
}
</script>

<style>
.vue-tags-input.is-invalid > div {
  border-color: var(--red) !important;
}
</style>
