<template>
  <div>
    <no-ssr>
      <vue-tags-input id="popover-container"
                      v-model="ingredientName"
                      :class="{ 'is-invalid': selectedIngredients.length === 0 }"
                      :disabled="handlers.length > 0"
                      :tags="selectedIngredientTags"
                      :add-on-blur="false"
                      :autocomplete-items="foundIngredientTags"
                      :add-on-key="[13, ',', ';']"
                      placeholder="Введите ингредиент и нажмите enter"
                      @before-adding-tag="beforeAddingTag"
                      @before-deleting-tag="deleteTag"
      />
      <div v-if="handlers.length > 0">
        <div v-if="selectedIngredient">
          <b-popover :show.sync="showEditAmountForm"
                     :placement="'bottom'"
                     target="popover-container"
                     custom-class="popover-fullwidth">

            <b-input-group :prepend="selectedIngredient.name"
                           size="sm">
              <b-form-input v-model="amount"
                            autofocus
                            type="number"
                            size="sm"
                            placeholder="Количество"/>
              <b-input-group-append>
                <b-input-group-text>
                  <span>{{ selectedIngredient.units }}</span>
                  <popup-helper
                    v-if="selectedIngredient.units === pieceUnits"
                    text="Если ингредиент добавляется поштучно, но в рецепте нужна лишь часть, например половина тыквы, введите дробное число, например 0.5 Тыквы"
                    class="ml-2"/>
                </b-input-group-text>
              </b-input-group-append>
              <b-input-group-append>
                <b-button :disabled="!amount"
                          variant="primary"
                          @click.prevent="add">Добавить
                </b-button>
                <b-button variant="danger"
                          @click.prevent="cancel">Отмена
                </b-button>
              </b-input-group-append>
            </b-input-group>

          </b-popover>
        </div>

        <b-modal
          id="create-ingredient-modal"
          v-model="displayCreateIngredientModal"
          :title="`Добавить ингредиент`"
          hide-footer
          size="xl"
          centered
          scrollable
          @hidden="modalWasHidden">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <ingredient-editor
                  v-if="displayCreateIngredientModal"
                  :name="ingredientNameForModal"
                  @ingredient-was-added="ingredientWasCreated"/>
              </div>
            </div>
          </div>
        </b-modal>
      </div>
    </no-ssr>
  </div>
</template>

<script>
'use strict';

import { mapGetters } from 'vuex';
import IngredientEditor from './IngredientEditor';

export default {
  name: 'IngredientSelector',
  components: {
    IngredientEditor,
  },
  props: {
    selectedIngredients: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    pieceUnits: 'шт',
    ingredientName: '',
    amount: '',
    handlers: [],
    showEditAmountForm: false,
    displayCreateIngredientModal: false,
    ingredientNameForModal: '',
  }),

  computed: {
    unselectedIngredients () {
      return this.ingredients.filter(item => {
        return this.selectedIngredients.findIndex(sItem => sItem.id === item.id) === -1;
      });
    },
    unselectedIngredientTags () {
      return this.unselectedIngredients.map(item => ({ text: item.name }));
    },
    foundIngredientTags () {
      if (this.ingredientName === '') {
        return this.unselectedIngredientTags;
      }
      return this.unselectedIngredientTags.filter(item => (
        item.text.toLowerCase().indexOf(this.ingredientName.toLowerCase()) !== -1
      ));
    },
    selectedIngredientTags () {
      return this.selectedIngredients.map(el => {
        const ingredient = this.ingredients.find(item => item.id === el.id);

        return {
          text: `${ingredient.name}: ${el.amount}${ingredient.units}`,
          id: el.id,
        };
      });
    },
    selectedIngredient () {
      if (!this.ingredientName) {
        return undefined;
      }
      return this.ingredients.find(item => item.name === this.ingredientName);
    },
    units () {
      return this.selectedIngredient?.units || '';
    },
    ...mapGetters({
      ingredients: 'recipes/ingredients',
    }),
  },

  watch: {
    selectedIngredient (val) {
      if (val) {
        this.$nextTick(() => {
          this.displayPopoverIfRequired();
        });
      }
    },
    handlers (val, oldVal) {
      if (val.length > 0 && oldVal.length === 0) {
        this.$nextTick(() => {
          this.displayPopoverIfRequired();
        });
      }
    },
  },

  methods: {
    displayPopoverIfRequired () {
      if (this.handlers.length > 0 && !!this.selectedIngredient) {
        this.showEditAmountForm = true;
      }
    },
    beforeAddingTag (obj) {
      if (obj?.tag?.text) {
        this.ingredientName = obj.tag.text;
      }
      this.$nextTick(() => {
        this.handlers.push(obj.addTag);
        if (!this.selectedIngredient) {
          this.callCreateIngredientModal();
        }
      });
    },
    callCreateIngredientModal () {
      this.displayCreateIngredientModal = true;
      this.ingredientNameForModal = this.ingredientName;
      this.ingredientName = '';
    },
    ingredientWasCreated ({ ingredient }) {
      this.ingredientNameForModal = '';
      this.ingredientName = ingredient.name;
      this.displayCreateIngredientModal = false;
    },
    modalWasHidden () {
      // если оно было закрыто при создании компонента, нужно запустить отмену ввода тега this.cancel()
      if (this.ingredientName === '') {
        this.cancel();
      }
    },
    cancel () {
      this.showEditAmountForm = false;
      this.ingredientName = '';
      this.amount = '';
      // for some reason we need nextTick here
      this.$nextTick(() => {
        this.handlers = [];
      });
    },
    add () {
      this.showEditAmountForm = false;
      // this.handlers[this.handlers.length - 1]();
      this.$emit('ingredient-was-selected', {
        id: this.selectedIngredient.id,
        amount: this.amount,
      });
      this.amount = '';
      this.ingredientName = '';
      // this.handlers.forEach(h => h());
      this.$nextTick(() => {
        this.handlers = [];
      });
    },
    /* deleteTag ({ tag: { id = null } }) {
      this.$emit('ingredient-was-deleted', { id });
    }, */
    deleteTag ({ tag = { id: null } }) {
      if (tag.id) {
        this.$emit('ingredient-was-deleted', { id: tag.id });
      }
    },
  },
}
</script>

<style>
.vue-tags-input.is-invalid > div {
  border-color: var(--red) !important;
}
</style>
