<template>
  <div>
    <form @submit.prevent="updateMode ? updateIngredient : addIngredient"
          @keydown="form.onKeydown($event)">
      <div class="mb-4">
        <a href="#"
           @click.prevent="displayHelper = !displayHelper">
          Как добавлять ингредиенты
          <span class="small">
            <fa v-if="!displayHelper" icon="chevron-down"/>
            <fa v-else icon="chevron-up"/>
          </span>
        </a>
      </div>
      <div v-if="displayHelper" class="mb-4">
        <p>
          Ингредиент - это составная единица рецепта, продукт, который можно купить в магазине.
          Добавляя ингредиент не пишите в названии марку производителя. Также не добавляйте
          ингредиенты, которые уже есть в нашей базе. Если в вашем рецепте важно добавить не просто
          сметану, а сметану 20% жирности, добавьте как ингредиент обычную и укажите рекомендуемую
          жирность в описании рецепта.
        </p>
        <p>
          Основная идея при добавлении ингредиентов - человек, решивший приготовить ваше блюдо,
          должен иметь возможность купить ингредиенты для него в любом продуктовом магазине той
          марки и состава, который ему нравится. Как чаще всего продукт продается, так и стоит его
          описывать при добавлении.
        </p>
        <p>
          Если вы обычный пользователь, достаточно добавить только название и выбрать единицы
          измерения. Дополнительные параметры помогут модераторам нашего сайта быстрее добавить
          ингредиент в проверенные, а также благодаря им другие пользователи быстрее смогут найти
          блюда на свой вкус и кошелек, но вам их заполнять необязательно.
        </p>
        <p>
          Обратите внимание на синие значки с подсказками рядом с полями.
        </p>
        <a href="#"
           @click.prevent="displayHelper = !displayHelper">
          Скрыть подсказку
          <span class="small"><fa icon="chevron-up"/></span>
        </a>
      </div>

      <div class="form-group row">
        <div class="col">
          <b-input-group class="d-none d-md-flex">
            <b-input-group-text slot="prepend">
              Название
            </b-input-group-text>
            <input v-model="form.name"
                   :class="{ 'is-invalid': !form.name || form.errors.has('name') }"
                   type="text"
                   name="name"
                   required
                   class="form-control"
                   placeholder="Название">
          </b-input-group>
          <input v-model="form.name"
                 :class="{ 'is-invalid': !form.name || form.errors.has('name') }"
                 type="text"
                 name="name"
                 required
                 class="form-control d-block d-md-none"
                 placeholder="Название">
          <has-error :form="form" field="name"/>
        </div>
      </div>

      <div class="form-group row">
        <div class="col">
          <b-input-group class="d-none d-md-flex">
            <b-input-group-text slot="prepend">
              Ед. измерения
            </b-input-group-text>
            <b-form-select
              v-model="form.units"
              :class="{ 'is-invalid': !form.units || form.errors.has('units') }"
              :options="unitsSelect"
              required
              name="units"
              placeholder="Единицы измерения"
            />
            <b-input-group-text slot="append">
              <popup-helper
                text="Выбирайте наименьшую единицу, в которой измеряется и продается продукт и которая используется для добавления в рецептах. Для продуктов, продающихся на развес и добавляемых в рецепты поштучно стоит указывать штуки, для остальных это чаще всего граммы ии мл."
              />
            </b-input-group-text>
          </b-input-group>
          <b-input-group class="d-block d-md-none">
            <b-form-select
              v-model="form.units"
              :class="{ 'is-invalid': !form.units || form.errors.has('units') }"
              :options="unitsSelect"
              required
              name="units"
              placeholder="Единицы измерения"
            />
            <b-input-group-text slot="append">
              <popup-helper
                text="Выбирайте наименьшую единицу, в которой измеряется и продается продукт и которая используется для добавления в рецептах. Для продуктов, продающихся на развес и добавляемых в рецепты поштучно стоит указывать штуки, для остальных это чаще всего граммы ии мл."
              />
            </b-input-group-text>
          </b-input-group>
          <has-error :form="form" field="units"/>
        </div>
      </div>

      <div v-if="!displayAdditionalOptions"
           class="mb-4">
        <a href="#"
           @click.prevent="displayAdditionalOptions = true">
          Показать доп. параметры
          <span class="small"><fa icon="chevron-down"/></span>
        </a>
      </div>

      <template v-if="displayAdditionalOptions">

        <div class="form-group row">
          <div class="col">
            <b-form-checkbox
              v-model="form.is_loose"
              :value="true"
              :unchecked-value="false"
              name="is_loose"
            >
              Сыпучий продукт
              <popup-helper text="Отметьте для круп, муки и того, что удобно отмерять стаканами или ложками в рецепте."/>
            </b-form-checkbox>
            <has-error :form="form" field="is_loose"/>
          </div>
        </div>

        <div v-if="form.is_loose" class="form-group row">
          <div class="col">
            <b-input-group class="d-none d-md-flex">
              <b-input-group-text slot="prepend">
                Сколько гр в 200мл стакане
              </b-input-group-text>
              <input v-model="form.amount_in_glass_200ml"
                     :class="{ 'is-invalid': form.errors.has('amount_in_glass_200ml') }"
                     type="number"
                     name="amount_in_glass_200ml"
                     class="form-control"
                     placeholder="Сколько гр в 200мл стакане">
            </b-input-group>

            <b-input-group class="d-block d-md-none">
              <input v-model="form.amount_in_glass_200ml"
                     :class="{ 'is-invalid': form.errors.has('amount_in_glass_200ml') }"
                     type="number"
                     name="amount_in_glass_200ml"
                     class="form-control"
                     placeholder="Сколько гр в 200мл стакане">
            </b-input-group>

            <has-error :form="form" field="amount_in_glass_200ml"/>
          </div>
        </div>

        <div class="form-group row">

          <div class="col">
            <b-input-group class="d-none d-md-flex">
              <b-input-group-text slot="prepend">
                Кол-во, которое можно купить
              </b-input-group-text>
              <input v-model="form.min_amount_to_buy"
                     :class="{ 'is-invalid': form.errors.has('min_amount_to_buy') || approveMode && !form.min_amount_to_buy }"
                     type="number"
                     name="min_amount_to_buy"
                     class="form-control"
                     placeholder="Количество, которое можно купить">
              <b-input-group-text slot="append">
                <popup-helper
                  slot="append"
                  :text="`Введите количество (в ${form.units}), которое чаще всего можно встретить в магазине в одной упаковке. Например для масла это вес одной пачки - 200 грамм, для макарон - 500 грамм, для яиц - 10шт, для молока 900 мл. Овощи и фрукты, если они продаются на развес и могут использоваться в рецептах поштучно - 1 шт. Данный параметр позволит нам отслеживать минимальную стоимость приготовления блюд с этим ингредиентом.`"/>
              </b-input-group-text>
            </b-input-group>

            <b-input-group class="d-block d-md-none">
              <input v-model="form.min_amount_to_buy"
                     :class="{ 'is-invalid': form.errors.has('min_amount_to_buy') || approveMode && !form.min_amount_to_buy }"
                     type="number"
                     name="min_amount_to_buy"
                     class="form-control"
                     placeholder="Количество, которое можно купить">
              <b-input-group-text slot="append">
                <popup-helper
                  slot="append"
                  :text="`Введите количество (в ${form.units}), которое чаще всего можно встретить в магазине в одной упаковке. Например для масла это вес одной пачки - 200 грамм, для макарон - 500 грамм, для яиц - 10шт, для молока 900 мл. Овощи и фрукты, если они продаются на развес и могут использоваться в рецептах поштучно - 1 шт. Данный параметр позволит нам отслеживать минимальную стоимость приготовления блюд с этим ингредиентом.`"/>
              </b-input-group-text>
            </b-input-group>

            <has-error :form="form" field="min_amount_to_buy"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <b-input-group class="d-none d-md-flex">
              <b-input-group-text slot="prepend">
                Средняя цена {{ form.min_amount_to_buy || 1 }} {{ form.units || 'ед' }}
              </b-input-group-text>
              <input v-model="form.avg_unit_cost"
                     :class="{ 'is-invalid': form.errors.has('avg_unit_cost') || approveMode && !form.avg_unit_cost }"
                     :placeholder="`Средняя цена ${ form.min_amount_to_buy || 1 } ${ form.units || 'ед' } ингредиента`"
                     type="number"
                     step="0.01"
                     name="avg_unit_cost"
                     class="form-control">
              <b-input-group-text slot="append">
                <popup-helper :text="`Средняя цена ${ form.min_amount_to_buy || 1 } ${ form.units || 'ед' } ингредиента. Данный параметр позволит нам отслеживать стоимость 1 порции.`"/>
              </b-input-group-text>
            </b-input-group>

            <b-input-group class="d-block d-md-none">
              <input v-model="form.avg_unit_cost"
                     :class="{ 'is-invalid': form.errors.has('avg_unit_cost') || approveMode && !form.avg_unit_cost }"
                     :placeholder="`Средняя цена ${ form.min_amount_to_buy || 1 } ${ form.units || 'ед' } ингредиента`"
                     type="number"
                     step="0.01"
                     name="avg_unit_cost"
                     class="form-control">
              <b-input-group-text slot="append">
                <popup-helper :text="`Средняя цена ${ form.min_amount_to_buy || 1 } ${ form.units || 'ед' } ингредиента. Данный параметр позволит нам отслеживать стоимость 1 порции.`"/>
              </b-input-group-text>
            </b-input-group>
            <has-error :form="form" field="avg_unit_cost"/>
          </div>
        </div>

        <div v-if="form.units === 'шт'" class="form-group row">
          <div class="col">
            <b-input-group class="d-none d-md-flex">
              <b-input-group-text slot="prepend">
                Вес 1 шт (гр)
              </b-input-group-text>
              <input v-model="form.avg_piece_weight"
                     :class="{ 'is-invalid': form.errors.has('avg_piece_weight') || (approveMode && form.units === 'шт' && !form.avg_piece_weight) }"
                     type="text"
                     name="avg_piece_weight"
                     class="form-control"
                     placeholder="Средний вес 1 шт (гр)">
              <b-input-group-text slot="append">
                <popup-helper text="Средний вес 1 штуки в граммах. Это поможет вычислять калорийность блюд с ним, их стоимость и добавлять часть тяжелых ингредиентов в блюда."/>
              </b-input-group-text>
            </b-input-group>

            <b-input-group class="d-block d-md-none">
              <input v-model="form.avg_piece_weight"
                     :class="{ 'is-invalid': form.errors.has('avg_piece_weight') || (approveMode && form.units === 'шт' && !form.avg_piece_weight) }"
                     type="text"
                     name="avg_piece_weight"
                     class="form-control"
                     placeholder="Средний вес 1 шт (гр)">
              <b-input-group-text slot="append">
                <popup-helper text="Средний вес 1 штуки в граммах. Это поможет вычислять калорийность блюд с ним, их стоимость и добавлять часть тяжелых ингредиентов в блюда."/>
              </b-input-group-text>
            </b-input-group>
            <has-error :form="form" field="avg_piece_weight"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12 col-md-6 mb-4 mb-sm-0">
            <b-form-input v-model="form.calories"
                          :class="{ 'is-invalid': form.errors.has('calories') || approveMode && !form.calories }"
                          class="d-block d-md-none"
                          type="number"
                          name="calories"
                          placeholder="Калорий на 100гр (Ккал)"/>
            <b-input-group class="d-none d-md-flex">
              <b-input-group-text slot="prepend">
                Калорий на 100гр (Ккал)
              </b-input-group-text>
              <b-form-input v-model="form.calories"
                            :class="{ 'is-invalid': form.errors.has('calories') || approveMode && !form.calories }"
                            type="number"
                            name="calories"
                            placeholder="12.34"/>
            </b-input-group>
            <has-error :form="form" field="calories"/>
          </div>

          <div class="col-12 col-md-6">
            <b-form-input v-model="form.proteins"
                          :class="{ 'is-invalid': form.errors.has('proteins') || approveMode && !form.proteins }"
                          class="d-block d-md-none"
                          type="number"
                          step="0.1"
                          name="proteins"
                          placeholder="Белков в 100гр"/>
            <b-input-group class="d-none d-md-flex">
              <b-input-group-text slot="prepend">
                Белков в 100 гр
              </b-input-group-text>
              <b-form-input v-model="form.proteins"
                            :class="{ 'is-invalid': form.errors.has('proteins') || approveMode && !form.proteins }"
                            type="number"
                            step="0.1"
                            name="proteins"
                            placeholder="12.34"/>
            </b-input-group>
            <has-error :form="form" field="proteins"/>
          </div>
        </div>

        <div class="form-group row">

          <div class="col-12 col-md-6 mb-4 mb-sm-0">
            <b-form-input v-model="form.fats"
                          :class="{ 'is-invalid': form.errors.has('fats') || approveMode && !form.fats }"
                          class="d-block d-md-none"
                          type="number"
                          step="0.1"
                          name="fats"
                          placeholder="Жиров в 100гр"/>
            <b-input-group class="d-none d-md-flex">
              <b-input-group-text slot="prepend">
                Жиров в 100гр
              </b-input-group-text>
              <b-form-input v-model="form.fats"
                            :class="{ 'is-invalid': form.errors.has('fats') || approveMode && !form.fats }"
                            type="number"
                            step="0.1"
                            name="fats"
                            placeholder="12.34"/>
            </b-input-group>
            <has-error :form="form" field="fats"/>
          </div>

          <div class="col-12 col-md-6">
            <b-form-input v-model="form.carbohydrates"
                          :class="{ 'is-invalid': form.errors.has('carbohydrates') || approveMode && !form.carbohydrates }"
                          class="d-block d-md-none"
                          type="number"
                          step="0.1"
                          name="carbohydrates"
                          placeholder="Углеводов в 100гр"/>
            <b-input-group class="d-none d-md-flex">
              <b-input-group-text slot="prepend">
                Углеводов в 100гр
              </b-input-group-text>
              <b-form-input v-model="form.carbohydrates"
                            :class="{ 'is-invalid': form.errors.has('carbohydrates') || approveMode && !form.carbohydrates }"
                            type="number"
                            step="0.1"
                            name="carbohydrates"
                            placeholder="12.34"/>
            </b-input-group>
            <has-error :form="form" field="carbohydrates"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <b-form-checkbox
              v-model="form.vegetarian_component"
              :value="true"
              :unchecked-value="false"
              name="vegetarian_component"
            >
              Подходит для вегетарианцев?
              <span v-if="approveMode" class="text-danger">*</span>
            </b-form-checkbox>
            <has-error :form="form" field="vegetarian_component"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <b-form-checkbox
              v-model="form.vegan_component"
              :value="true"
              :unchecked-value="false"
              name="vegan_component"
            >
              Подходит для веганов?
              <span v-if="approveMode" class="text-danger">*</span>
            </b-form-checkbox>
            <has-error :form="form" field="vegan_component"/>
          </div>
        </div>

      </template>

      <div v-if="!approveMode">
        <b-button v-if="updateMode"
                  :disabled="!form.name || !form.units || form.busy"
                  variant="primary"
                  type="submit"
                  @click.prevent="updateIngredient">
          Обновить ингредиент
        </b-button>
        <b-button v-else
                  :disabled="!form.name || !form.units || form.busy"
                  variant="primary"
                  type="submit"
                  @click.prevent="addIngredient">
          Добавить ингредиент
        </b-button>
      </div>

      <template v-else>
        <div class="form-group row">
          <div class="col d-flex align-items-end flex-column">
            <div class="">
              <b-button :loading="form.busy"
                        variant="primary"
                        type="submit"
                        @click.prevent="approveIngredient">
                Одобрить и сохранить
              </b-button>
            </div>
            <div class="my-2">Или</div>
            <div class="">
              <b-input-group>
                <input v-model="declineReason"
                       class="form-control"
                       type="text"
                       placeholder="Причина отклонения">
                <b-input-group-append>
                  <b-button :disabled="!declineReason"
                            :class="{'not-allowed': !declineReason}"
                            variant="danger"
                            @click.prevent="declineIngredient">
                    Отклонить ингредиент
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </div>
          </div>
        </div>
      </template>

    </form>
  </div>
</template>

<script>
'use strict';

import axios from 'axios';
import Form from 'vform';
import objectToFormData from 'object-to-formdata';
import { mapGetters } from 'vuex';
import cloneDeep from 'lodash.clonedeep';

const defaultFormData = {
  name: '',
  units: 'гр',
  is_loose: false,
  amount_in_glass_200ml: '',
  min_amount_to_buy: '',
  avg_piece_weight: '',
  calories: '',
  proteins: '',
  fats: '',
  carbohydrates: '',
  vegan_component: false,
  vegetarian_component: false,
  avg_unit_cost: '',
};

export default {
  name: 'IngredientEditor',

  props: {
    name: {
      type: String,
      default: '',
    },
    ingredientData: {
      type: Object,
      default: null,
    },
    approveMode: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    displayAdditionalOptions: false,
    displayHelper: false,
    form: new Form(defaultFormData),
    declineReason: '',
    unitsSelect: [
      {
        text: 'Грамм',
        value: 'гр',
      },
      {
        text: 'Килограмм',
        value: 'кг',
      },
      {
        text: 'Штука',
        value: 'шт',
      },
      {
        text: 'Литр',
        value: 'л',
      },
      {
        text: 'Миллилитр',
        value: 'мл',
      },
    ],
  }),

  computed: {
    updateMode () {
      return !!this.ingredientData;
    },
    ...mapGetters({
      user: 'auth/user',
    }),
  },

  created () {
    if (this.name) {
      this.form.name = this.name;
    }

    if (this.updateMode) {
      this.displayAdditionalOptions = true;
      this.form = new Form(Object.assign({}, this.form.data(), this.ingredientData));
    }
    if (this.approveMode) {
      this.displayAdditionalOptions = true;
    }
  },

  methods: {
    addIngredient () {
      this.form.submit('post', '/api/dashboard/ingredient').then(({ data: { ingredient } }) => {
        this.$store.dispatch('recipes/addIngredient', ingredient);
        this.$emit('ingredient-was-added', { ingredient });
      })
        .catch(e => {
          console.log('ingredient not added');
          console.log(e);
        });
    },
    updateIngredient () {
      this.form.submit('post', `/api/dashboard/ingredient/${this.ingredientData.id}`, {
        transformRequest: [(data, headers) => {
          let requestData = cloneDeep(data); // Object.assign({}, data);
          requestData.is_loose = data.is_loose ? 1 : 0;
          requestData.vegan_component = data.vegan_component ? 1 : 0;
          requestData.vegetarian_component = data.vegetarian_component ? 1 : 0;
          requestData._method = 'patch';
          return objectToFormData(requestData);
        }],
      })
        .then(({ data: { ingredient } }) => {
          this.$store.dispatch('recipes/updateIngredient', ingredient);
          this.$emit('ingredient-was-updated', { ingredient });
        })
        .catch(e => {
          //
        });
    },
    approveIngredient () {
      this.updateIngredient();
    },
    declineIngredient () {
      if (!this.declineReason) {
        return;
      }
      axios.post(`/api/dashboard/ingredient/decline/${this.ingredientData.id}`, {
        reason: this.declineReason,
      })
        .then(({ data }) => {
          // todo: remove from store
          this.$emit('ingredient-was-declined', { id: this.ingredientData.id });
        });
    },
  },
}
</script>
