<template>
  <form enctype="multipart/form-data"
        @submit.prevent="updateMode ? updateRecipe : addRecipe"
        @keydown="form.onKeydown($event)">
    <alert-success :form="form" :message="$t('recipes.recipe_added')"/>

    <div class="row">
      <div class="col">
        <helper-block class="mb-4">
          Рецепт - это законченное блюдо. Не добавляйте то, что является частью
          блюда, например соусы. Вместо этого пишите рецепт полностью готового блюда, например
          "паста с соусом Карбонара". Гарниры и закуски - полноценные блюда, их добавление
          приветствуется.
        </helper-block>
      </div>
    </div>

    <!-- Название -->
    <div class="form-group row">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <input v-model="form.name"
               :class="{ 'is-invalid': !form.name || form.errors.has('name') }"
               type="text"
               name="name"
               class="form-control"
               placeholder="Введите название блюда">
        <has-error :form="form" field="name"/>
      </div>

      <!--Категория-->
      <div class="col-12 col-md-6">
        <b-form-select
          :class="{ 'is-invalid': !form.category_id || form.errors.has('category_id') }"
          v-model="form.category_id"
          :options="categoriesSelect"/>
      </div>
    </div>

    <div v-if="!updateMode && similar.length > 0"
         class="form-group row">
      <div class="col-12">
        <small class="form-text text-danger">
          Кажется, мы нашли похожие рецепты. Ознакомьтесь с ними и не вносите
          одинаковые рецепты в базу, если хотели записать что-то похожее:
        </small>
        <a v-for="recipe in similar"
           :key="recipe.id"
           :href="`/recipes/${recipe.id}`"
           target="_blank"
           class="badge badge-info mr-1">
          {{ recipe.name }}
        </a>
      </div>
    </div>

    <!-- Ингредиенты -->
    <div class="form-group row">
      <div class="col-12">
        <ingredient-selector
          :selected-ingredients="form.ingredients"
          @ingredient-was-selected="addIngredient"
          @ingredient-was-deleted="deleteIngredient"/>
      </div>
      <div class="col-12">
        <helper-block class="mt-3">
          Начните вводить название ингредиента. Если ингредиент есть в нашей базе, он появится в
          списке предложенных, где его останется лишь выбрать. Если же такого ингредиента нет,
          нажмите enter и появится форма для его добавления.
        </helper-block>
      </div>
    </div>

    <!-- Как готовить -->
    <div class="form-group row">
      <div class="col-12">
        <cooking-type-selector
          :selected-cooking-types="form.cookingTypes"
          @cooking-type-was-selected="addCookingType"
          @cooking-type-was-deleted="deleteCookingType"/>
      </div>
    </div>

    <!-- Рецепт -->
    <no-ssr>
      <div class="form-group row">
        <div :class="{'is-invalid': !form.article_text}"
             class="col-12">
          <text-editor ref="textEditor"
                       :value="form.article_text"
                       @content-was-updated="updateArticleText"/>
        </div>
      </div>
    </no-ssr>

    <!-- Количество порций -->
    <div class="form-group row">
      <div class="col-md-8 d-none d-sm-block">
        <b-input-group>
          <b-input-group-text slot="prepend">Сколько порций получится:</b-input-group-text>
          <input v-model="form.portions_amount"
                 :class="{ 'is-invalid': !form.portions_amount || form.errors.has('portions_amount') }"
                 type="number"
                 name="portions_amount"
                 class="form-control">
        </b-input-group>

        <has-error :form="form" field="portions_amount"/>
      </div>
      <div class="col-12 d-sm-none">
        <label>Сколько порций получится:</label>

        <input v-model="form.portions_amount"
               :class="{ 'is-invalid': !form.portions_amount || form.errors.has('portions_amount') }"
               type="number"
               name="portions_amount"
               class="form-control">

        <has-error :form="form" field="portions_amount"/>
      </div>
    </div>

    <!-- Время приготовления -->
    <div class="form-group row">
      <div class="col-md-8 d-none d-sm-block">
        <b-input-group>
          <b-input-group-text slot="prepend">Время приготовления:</b-input-group-text>
          <input v-model="form.cooking_time_minutes"
                 :class="{ 'is-invalid': !form.cooking_time_minutes || form.errors.has('cooking_time_minutes') }"
                 type="number"
                 name="cooking_time_minutes"
                 class="form-control">
          <b-input-group-text slot="append">минут</b-input-group-text>
        </b-input-group>

        <has-error :form="form" field="cooking_time_minutes"/>
      </div>
      <div class="col-12 d-sm-none">
        <label>Время приготовления:</label>
        <b-input-group>
          <input v-model="form.cooking_time_minutes"
                 :class="{ 'is-invalid': !form.cooking_time_minutes || form.errors.has('cooking_time_minutes') }"
                 type="number"
                 name="cooking_time_minutes"
                 class="form-control">
          <b-input-group-text slot="append">минут</b-input-group-text>
        </b-input-group>

        <has-error :form="form" field="cooking_time_minutes"/>
      </div>
    </div>

    <!-- Что нужно для приготовления (духовка, кастрюля, сковорода) -->
    <!-- Изображение -->
    <no-ssr>
      <div class="form-group">
        <form-input-image v-model="form.image"
                          :default-image="image_url"
                          default-text="Изображение для статьи..."
                          @remove-file="form.image = null"/>
      </div>
    </no-ssr>

    <!-- Submit Button -->
    <div class="row">
      <div v-if="approveMode">
      </div>
      <div v-else-if="updateMode" class="col">
        <b-button-group>
          <b-button :loading="form.busy"
                    variant="primary"
                    type="submit"
                    @click.prevent="updateRecipe">
            Обновить
          </b-button>
          <b-button variant="danger" @click.prevent="resetForm">
            Сбросить форму
          </b-button>
        </b-button-group>
      </div>

      <div v-else class="col">
        <b-button-group>
          <b-button :loading="form.busy"
                    variant="primary"
                    type="submit"
                    @click.prevent="addRecipe">
            {{ $t('add') }}
          </b-button>
          <b-button variant="danger" @click.prevent="clearForm">
            Очистить форму
          </b-button>
        </b-button-group>
      </div>
    </div>

    <template v-if="approveMode">
      <div class="form-group row">
        <div class="col d-flex align-items-end flex-column">
          <div class="">
            <b-button :loading="form.busy"
                      variant="primary"
                      type="submit"
                      @click.prevent="approveRecipe">
              Одобрить и сохранить
            </b-button>
          </div>
          <div class="my-2">Или</div>
          <div class="">
            <b-input-group>
              <input v-model="declineReason"
                     class="form-control"
                     type="text"
                     placeholder="Причина отклонения">
              <b-input-group-append>
                <b-button :disabled="!declineReason"
                          :class="{'not-allowed': !declineReason}"
                          variant="danger"
                          @click.prevent="declineRecipe">
                  Отклонить рецепт
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </div>
        </div>
      </div>
    </template>

  </form>
</template>

<script>
'use strict';

import axios from 'axios';
import Form from 'vform';
import objectToFormData from 'object-to-formdata';
import { supportsStorage } from '~/utils';
import { mapGetters } from 'vuex';
import IngredientSelector from '~/components/dashboard/IngredientSelector';
import CookingTypeSelector from '~/components/dashboard/CookingTypeSelector';
import cloneDeep from 'lodash.clonedeep';
import debounce from 'lodash.debounce';

const defaultFormData = {
  name: '',
  category_id: null,
  article_text: '',
  portions_amount: 1,
  cooking_time_minutes: 30,
  image: null,
  ingredients: [],
  cookingTypes: [],
};

export default {
  name: 'RecipeEditor',
  components: {
    IngredientSelector,
    CookingTypeSelector,
  },

  props: {
    recipeData: {
      type: Object,
      default: null,
    },
    approveMode: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    form: new Form(defaultFormData),
    similar: [],
    draftAvailable: false,
    image_url: null,
    declineReason: '',
    storageKey: 'recipe-draft',
  }),

  computed: {
    updateMode () {
      return !!this.recipeData;
    },
    categoriesSelect () {
      let values = this.categories.map(item => ({
        value: item.id,
        text: item.name,
      }));
      values.unshift({ value: null, text: 'Выберите категорию блюда', disabled: true });

      return values;
    },
    ...mapGetters({
      categories: 'recipes/categories',
      ingredients: 'recipes/ingredients',
      cookingTypes: 'recipes/cookingTypes',
    }),
  },

  watch: {
    'form.name' (val, oldVal) {
      if (val && !this.updateMode) {
        this.getSimilarRecipesDebounced();
      } else {
        this.similar = [];
      }
    },
  },

  created () {
    this.draftAvailable = supportsStorage() && !this.updateMode;
    this.saveDraftDebounced = debounce(this.saveDraft, 1000);
    this.getSimilarRecipesDebounced = debounce(this.getSimilarRecipes, 3000);

    if (this.draftAvailable) {
      this.loadDraft();

      Object.keys(defaultFormData).forEach(item => {
        if (item !== 'image') {
          this.$watch(`form.${item}`, () => {
            this.saveDraftDebounced();
          });
        }
      });
    }

    if (this.updateMode) {
      // отобразить image_url
      this.image_url = this.recipeData.image_url;
      let recipeData = { ...this.recipeData };
      recipeData.cookingTypes = recipeData.cookingTypes.map(el => el.id);
      this.form = new Form({ ...this.form.data(), ...recipeData });
    }
  },

  methods: {
    clearForm () {
      this.$refs.textEditor.clearContent();
      this.clearDraft();
      this.form.fill(defaultFormData);
    },
    resetForm () {
      if (!this.updateMode) {
        this.clearForm();
        return;
      }
      this.clearForm();
    },
    saveDraft () {
      if (this.draftAvailable) {
        localStorage.setItem(this.storageKey, JSON.stringify(this.form.data()));
      }
    },
    loadDraft () {
      if (!this.draftAvailable) {
        return;
      }
      const draft = localStorage.getItem(this.storageKey);
      if (draft) {
        let formData = JSON.parse(draft);
        formData.image = null;
        this.form = new Form(formData);
        if (this.$refs?.textEditor) {
          this.$refs.textEditor.setContent(formData.article_text);
        }
      }
    },
    clearDraft () {
      if (this.draftAvailable) {
        localStorage.removeItem(this.storageKey);
      }
    },
    addIngredient ({ id, amount }) {
      this.form.ingredients.push({ id, amount });
    },
    deleteIngredient ({ id }) {
      const idx = this.form.ingredients.findIndex(i => (i.id === id));
      if (idx !== -1) {
        this.form.ingredients.splice(idx, 1);
      }
    },
    addCookingType ({ id }) {
      this.form.cookingTypes.push(id);
    },
    deleteCookingType ({ id }) {
      const idx = this.form.cookingTypes.findIndex(i => i === id);
      if (idx !== -1) {
        this.form.cookingTypes.splice(idx, 1);
      }
    },
    addRecipe () {
      this.form.submit('post', '/api/dashboard/recipe', {
        transformRequest: [(data, headers) => {
          let requestData = cloneDeep(data); // Object.assign({}, data);
          requestData.ingredients = {};
          this.form.ingredients.forEach(item => {
            requestData.ingredients[item.id] = {
              id: item.id,
              amount: item.amount,
            };
          });
          return objectToFormData(requestData);
        }],
      })
        .then(() => {
          this.clearForm();
        })
        .catch(e => {
          //
        });
    },
    getSimilarRecipes () {
      if (!this.form.name) {
        return;
      }
      axios.get('/api/dashboard/recipe/similar', {
        params: {
          name: this.form.name,
        },
      })
        .then(({ data }) => {
          this.similar = data.recipes;
        });
    },
    updateRecipe () {
      this.form.submit('post', `/api/dashboard/recipe/${this.recipeData.id}`, {
        transformRequest: [(data, headers) => {
          let requestData = cloneDeep(data); // Object.assign({}, data);
          requestData.ingredients = {};
          this.form.ingredients.forEach(item => {
            requestData.ingredients[item.id] = {
              id: item.id,
              amount: item.amount,
            };
          });
          requestData._method = 'patch';
          return objectToFormData(requestData);
        }],
      })
        .then(({ data }) => {
          this.$emit('recipe-was-updated', { recipe: data.recipe });
        })
        .catch(e => {
          //
        });
    },
    approveRecipe () {
      this.updateRecipe();
    },
    declineRecipe () {
      if (!this.declineReason) {
        return;
      }
      axios.post(`/api/dashboard/recipe/decline/${this.recipeData.id}`, {
        reason: this.declineReason,
      })
        .then(({ data }) => {
          this.$emit('recipe-was-declined', { id: this.recipeData.id });
        });
    },
    updateArticleText (text) {
      this.form.article_text = text;
    },
  },
}
</script>
