<template>
  <card :title="recipe.name">

    <table class="table">
      <tbody>
        <tr>
          <td colspan="2">
            <img :src="recipe.image_url" :alt="recipe.name" class="img-fluid">
          </td>
        </tr>
        <tr>
          <th>Категория</th>
          <td>{{ usedCategory.name }}</td>
        </tr>
        <tr>
          <th>Ингредиенты</th>
          <td>
            <span v-for="ingredient in usedIngredients"
                  :key="ingredient.id"
                  class="badge badge-info">
              {{ ingredient.name }}: {{ ingredient.amount }}{{ ingredient.units }}
            </span>
          </td>
        </tr>
        <tr>
          <th>Как готовить</th>
          <td>
            <span v-for="cook in usedCookingTypes"
                  :key="cook.id"
                  class="badge badge-info">
              {{ cook.name }}
            </span>
          </td>
        </tr>
        <tr>
          <th>Количество порций</th>
          <td>{{ recipe.portions_amount }}</td>
        </tr>
        <tr>
          <th>Время приготовления</th>
          <td>{{ recipe.cooking_time_minutes }} мин</td>
        </tr>
        <tr>
          <td colspan="2" v-html="articleText">
          </td>
        </tr>
      </tbody>
    </table>

  </card>

</template>

<script>
'use strict';

import { mapGetters } from 'vuex';
import marked from 'marked';
// import showdown from 'showdown';
marked.setOptions({ gfm: true, breaks: true });
// const converter = new showdown.Converter({ simpleLineBreaks: true });
// todo: delete. unused
export default {
  name: 'RecipeViewer',

  props: {
    recipe: {
      type: Object,
      required: true,
    },
  },

  computed: {
    usedCategory () {
      return this.categories.find(item => item.id === this.recipe.category_id);
    },
    usedIngredients () {
      let ingredients = [];
      this.recipe.ingredients.forEach(item => {
        const ingred = this.ingredients.find(i => i.id === item.id);
        ingredients.push({
          id: ingred.id,
          name: ingred.name,
          amount: item.amount,
          units: ingred.units,
        });
      });
      return ingredients;
    },
    usedCookingTypes () {
      return this.recipe.cookingTypes.map(id => this.cookingTypes.find(item => item.id === id));
    },
    articleText () {
      return marked(this.recipe.article_text);
      // return converter.makeHtml(this.recipe.article_text);
    },
    ...mapGetters({
      categories: 'recipes/categories',
      ingredients: 'recipes/ingredients',
      cookingTypes: 'recipes/cookingTypes',
    }),
  },
}
</script>
