<template>
  <section class="card">
    <header v-if="title" class="card-header">
      {{ title }}
    </header>
    <header v-else-if="hasHeaderSlotContent" class="card-header">
      <slot name="header"></slot>
    </header>

    <transition name="slide">
      <div v-if="hasDefaultSlotContent" class="card-body">
        <slot name="default"/>
      </div>
    </transition>
  </section>
</template>

<script>
export default {
  name: 'Card',

  props: {
    title: { type: String, default: null },
  },

  computed: {
    hasHeaderSlotContent () {
      return !!this.$slots.header;
    },
    hasDefaultSlotContent () {
      return this.$slots.default !== undefined;
    },
  },
}
</script>
