<template>
  <div class="d-flex align-items-center">
    <fa class="text-primary sm mr-2 ml-2"
        icon="info-circle"/>
    <small class="text-muted">
      <slot name="default"/>
    </small>
  </div>
</template>

<script>
export default {
  name: 'HelperBlock',
}
</script>
