<template>
  <div class="nav-block">
    <div v-if="title" class="nav-block-header">
      {{ title }}
    </div>

    <div class="nav-block-body">
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NavBlock',

  props: {
    title: { type: String, default: null },
  },
}
</script>
