<template>
  <fa v-b-popover.hover="text"
      icon="info-circle"
      class="text-primary sm"/>
</template>

<script>
export default {
  name: 'PopupHelper',

  props: {
    text: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>

</style>
