<template>
  <div>
    <h1>Политика конфиденциальности</h1>
    <p>
      Термин "личная информация", используемый в настоящем документе, определяется как любая
      информация, которая идентифицирует или может использоваться для идентификации, связи или
      поиска человека, к которому такая информация относится. Личная информация, которую мы
      собираем, будет являться предметом настоящей политики конфиденциальности, с вносимыми время от
      времени поправками.
    </p>
    <p>
      В приложении используются инструменты для сбора статистики, информацию о политике
      конфиденциальности вы можете найти тут: https://policies.google.com/privacy
    </p>
    <p>
      Для полноценного использования приложения вы можете зарегистрироваться, используя адрес своей
      электронной почты. Это необязательное действие, благодаря регистрации вы сможете добавлять
      контент от вашего имени на нашем сервисе. Кроме того, информация о ваших действиях может быть
      использована нами для создания рекомендаций.
    </p>
    <p>Мы не рассылаем спам и рекламные предложения на указанные адреса</p>
    <p>
      За исключением систем аналитики мы не передаем вашу личную информацию третьим лицам, пока ваши
      действия соответствуют закону страны, в которой вы используете приложение.
    </p>

    <h2>Контакты</h2>
    <p>e-mail: bonesbrain@gmail.com</p>
  </div>
</template>

<script>
export default {
  name: 'PrivacyPolicy',
}
</script>

<style scoped>

</style>
