<template>
  <card title="Все ингредиенты">
    <div v-if="ingredients.length > 0">
      <div class="form-group">
        <b-input-group>
          <b-input-group-text slot="prepend">Найти ингредиент:</b-input-group-text>
          <input v-model="filter"
                 class="form-control">
        </b-input-group>
      </div>

      <table class="table">
        <tbody>
          <tr v-for="ingredient in ingredientsPaginated"
              :key="ingredient.id">
            <td class="align-middle">{{ ingredient.name }}</td>
            <td class="align-middle">{{ ingredient.units }}</td>
            <td class="align-middle">
              <b-button variant="primary"
                        size="sm"
                        @click="openIngredient(ingredient.id)">
                Изменить
              </b-button>
            </td>
          </tr>
        </tbody>
      </table>

      <paginate v-if="pagesTotal > 1 && currentPage"
                v-model="currentPage"
                :page-count="pagesTotal"
                :container-class="'d-flex justify-content-center pagination'"
                :page-class="'page-item'"
                :prev-class="'page-item'"
                :next-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-link-class="'page-link'"
                :next-link-class="'page-link'"
                prev-text="&laquo;"
                next-text="&raquo;"
      />
    </div>

    <div v-else>
      Нет ингредиентов.
    </div>

    <b-modal
      v-model="displayIngredientModal"
      :title="`Изменить ингредиент`"
      size="xl"
      header-bg-variant="light"
      body-bg-variant="light"
      hide-footer
      centered
      scrollable
      @hidden="hideIngredientModal">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div v-if="selectedIngredient">
              <ingredient-editor
                v-if="displayIngredientModal"
                :ingredient-data="selectedIngredient"
                @ingredient-was-updated="handleUpdatedIngredient"/>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </card>
</template>

<script>
// todo: компонент незавершен, он просто показывает список ингредиентов
'use strict';

import { mapGetters } from 'vuex';
import IngredientEditor from '~/components/dashboard/IngredientEditor';
import Paginate from 'vuejs-paginate/src/components/Paginate.vue';

export default {
  name: 'AdminIngredientsList',
  middleware: 'admin-access',

  components: {
    Paginate,
    IngredientEditor,
  },

  props: {
    page: {
      type: Number,
      default: 1,
    },
  },

  data: () => ({
    currentPage: null,
    itemsPerPage: 15,
    selectedIngredientId: null,
    displayIngredientModal: false,
    filter: '',
  }),

  computed: {
    selectedIngredient () {
      if (!this.selectedIngredientId) {
        return undefined;
      }

      return this.ingredients.find(item => item.id === this.selectedIngredientId);
    },
    ingredientsFiltered () {
      if (this.filter.length === 0) {
        return this.ingredients;
      }
      return this.ingredients.filter(item => item.name.toLowerCase()
        .indexOf(this.filter.toLowerCase()) !== -1);
    },
    ingredientsPaginated () {
      return this.ingredientsFiltered.slice((this.currentPage - 1) * this.itemsPerPage, this.currentPage * this.itemsPerPage);
    },
    pagesTotal () {
      return Math.ceil(this.ingredientsFiltered.length / this.itemsPerPage);
    },
    ...mapGetters({
      ingredients: 'recipes/ingredients',
    }),
  },

  watch: {
    pagesTotal (val) {
      if (val < this.currentPage) {
        this.currentPage = val || 1;
      }
    },
    // у компонента vuejs-paginate нет способа задать односторонний биндинг
    page (val) {
      this.currentPage = val;
    },
    // вынесено сюда из метода clickHandler, потому что vuejs-paginate не запускает clickHandler при изменении страницы извне
    currentPage (val) {
      this.changePage(val);
    },
    selectedIngredient (val) {
      this.displayIngredientModal = !!val;
    },
  },

  created () {
    this.currentPage = this.page;
  },

  methods: {
    changePage (page) {
      this.$router.push({ name: this.$route.name, query: { ...this.$route.query, page } });
    },
    openIngredient (id) {
      this.selectedIngredientId = id;
    },
    hideIngredientModal () {
      this.selectedIngredientId = null;
    },
    handleUpdatedIngredient ({ ingredient }) {
      this.hideIngredientModal();
    },
  },
}
</script>
