<template>
  <div class="layout navbar-padding-top">
    <navbar-top/>

    <div class="container mt-4">
      <div class="row">
        <div class="d-none d-lg-block col-lg-3">
          <navbar-side/>
        </div>
        <div class="col-12 col-lg-9">
          <nuxt/>
        </div>
      </div>
    </div>

    <b-modal
      id="navbar-side-modal"
      v-model="displayNavbarSideModal"
      title="Меню"
      hide-footer
      size="xl"
      centered
      scrollable
      class="d-block d-lg-none"
      @hidden="navbarModalWasHidden">
      <navbar-side/>
    </b-modal>
  </div>
</template>

<script>
import debounce from 'lodash.debounce';
import NavbarTop from '~/components/navs/NavbarTop';
import NavbarSide from '~/components/navs/NavbarSide';

export default {
  components: {
    NavbarTop,
    NavbarSide,
  },

  data: () => ({
    displayNavbarSideModal: false,
    mobileNavbarBreakpoint: 992,
  }),

  watch: {
    '$route': function () {
      this.hideMobileNav();
    },
  },

  created () {
    this.$_hideMobileNavIfResizedDebounced = debounce(this.hideMobileNavIfResized, 100);
    if (process.client) {
      window.addEventListener('resize', this.$_hideMobileNavIfResizedDebounced);
    }
    this.$eventHub.$on('toggleMobileNav', this.toggleMobileNav);
    this.$eventHub.$on('hideMobileNav', this.hideMobileNav);
  },

  beforeDestroy () {
    if (process.client) {
      window.removeEventListener('resize', this.$_hideMobileNavIfResizedDebounced);
    }
    this.$eventHub.$off('toggleMobileNav', this.toggleMobileNav);
    this.$eventHub.$off('hideMobileNav', this.hideMobileNav);
  },

  methods: {
    toggleMobileNav () {
      this.displayNavbarSideModal = !this.displayNavbarSideModal;
    },
    hideMobileNav () {
      this.displayNavbarSideModal = false;
    },
    hideMobileNavIfResized () {
      if (window.innerWidth >= this.mobileNavbarBreakpoint && this.displayNavbarSideModal) {
        this.displayNavbarSideModal = false;
      }
    },
    navbarModalWasHidden () {
      this.displayNavbarSideModal = false;
    },
  },
}
</script>
