// Fonts
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;

//$h1-font-size:                $font-size-base * 2.125 !default;
$h1-font-size: $font-size-base * 1.75 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base * 1.1 !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: (30rem/16);
$headings-font-weight: 700;

$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$enable-shadows: true;

// // Body
$body-bg: #F5F6FA;

$blue: #237AFA;
$red: #FF3D2B;
$green: #92FFCA;
$white: #ffffff;
$gray-200: #e9ecef;
$graynew: #f8f8f8;
$light: $gray-200;
$light-blue: #cadfff;

$primary: $blue;
$primary-light: $light-blue;

$yiq-text-dark: #192F48;

// Components
$line-height-lg: 1.5;
$line-height-sm: 1.5;

// Borders
$border-radius: (10rem/16);
// $border-radius-lg: .2rem;
$border-radius-sm: (4rem/16);
$border-width: 1px !default;

// Cards
$card-spacer-x: (30rem/16);
$card-spacer-y: (15rem/16);
$card-cap-bg: $white;
$card-border-color: $gray-200;
$card-border-radius: $border-radius;

// Buttons
$btn-border-radius: (10rem/16);
$btn-border-radius-sm: $border-radius-sm;

$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 2rem;

$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 1rem;

$input-btn-padding-y-lg: .5rem;
$input-btn-padding-x-lg: 1rem;

// Navs
$nav-pills-border-radius: 0;
$nav-link-text-active: $white;
$nav-link-bg-active: $primary;
$nav-link-bg-hover: $gray-200;
$nav-link-padding-y: 0.75rem;
$nav-link-padding-x: 1.75rem;

// Badges
$badge-font-size: (12rem/16);
$badge-font-weight: normal;
$badge-padding-y: (4rem/16);
$badge-padding-x: (10rem/16);
$badge-border-radius: $border-radius-sm;

// form inputs
$input-bg: $white;
$input-border-color: $gray-200;
$input-focus-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
$input-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);

$input-height: (51rem/16);
$input-btn-border-width: $border-width;
$input-border-width: $input-btn-border-width;
$input-height-border: $input-border-width * 2;

$input-padding-y: (11rem/16);
$input-padding-x: (20rem/16);
$input-line-height: ($input-height - 2 * $input-padding-y - strip-units($input-height-border)/16); //1rem;
$input-btn-line-height-sm: $line-height-sm;
$input-btn-line-height-lg: $line-height-lg;
$input-line-height-sm: $input-btn-line-height-sm;
$input-line-height-lg: $input-btn-line-height-lg;

$input-height-inner: calc((#{$input-line-height * 1} + #{$input-padding-y * 2}));
$input-height-inner-half: calc((#{$input-line-height * .5} + #{$input-padding-y}));
$input-height-inner-quarter: calc((#{$input-line-height * .25} + #{$input-padding-y / 2}));
$custom-file-border-radius: $border-radius;

$custom-checkbox-indicator-border-radius: $border-radius-sm;

$input-validation-icon-size: 1rem;

//$input-height: calc(#{$input-line-height * 1} + #{$input-padding-y * 2} + #{$input-height-border});
$input-height-sm: calc(#{$input-line-height-sm * 1rem} + #{$input-btn-padding-y-sm * 2} + #{$input-height-border});
$input-height-lg: calc(#{$input-line-height-lg * 1rem} + #{$input-btn-padding-y-lg * 2} + #{$input-height-border});

$input-btn-focus-width: 1px;
$input-focus-border-color: $primary-light;

$form-feedback-icon-valid: url('./../sprites/form/valid.svg');
$form-feedback-icon-invalid: url('./../sprites/form/invalid.svg');

$form-group-margin-bottom: (24rem/16);

// custom forms
$custom-select-indicator: url('./../sprites/form/select-arrow.svg');
$custom-select-bg-size: 7px 15px;
$custom-select-feedback-icon-size: 7px;
$custom-select-box-shadow: $input-box-shadow;
$custom-file-button: url('./../sprites/form/attach.svg');
$custom-file-button-bg: $primary;

// Input groups
$input-group-addon-bg: $input-bg;

// Dropdowns
$dropdown-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
$dropdown-border-radius: $border-radius-sm;
$dropdown-link-hover-bg: $nav-link-bg-hover;
$dropdown-link-active-bg: $nav-link-bg-active;
$dropdown-item-padding-y: $nav-link-padding-y;
$dropdown-item-padding-x: $nav-link-padding-x;