.tui-editor-defaultUI {
  overflow: hidden;
  border:   $input-border-width solid $input-border-color;

  @include border-radius($input-border-radius, 0);
  @include box-shadow($input-box-shadow);

  .is-invalid &, .is-invalid & .te-toolbar-section {
    border-color: $form-feedback-invalid-color;
    //box-shadow:   0 4px 20px rgba($form-feedback-invalid-color, .25);
  }
}

.te-toolbar-section {
  display:      flex;
  align-items:  center;
  height:       40px;
  border-color: $input-border-color;
}

.tui-editor-contents {
  font-size: 1rem;
}