$tag-margin: (5rem/16);

.vue-tags-input {
  max-width: 100% !important;
  @include border-radius($input-border-radius, 0);

  & .ti-input {
    display:          flex;
    align-items:      center;
    width:            100%;
    min-height:       $input-height;
    padding:          0 ($input-padding-x - $tag-margin) !important;
    font-family:      $input-font-family;
    @include font-size($input-font-size);
    font-weight:      $input-font-weight;
    line-height:      $input-line-height;
    color:            $input-color;
    background-color: $input-bg;
    background-clip:  padding-box;
    border:           $input-border-width solid $input-border-color;

    @include border-radius($input-border-radius, 0);
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);
  }

  .ti-tags {
    display:     flex;
    align-items: center;
  }

  .ti-tag {
    display:          inline-block;
    margin:           (5rem/16) !important;
    padding:          3px 5px !important;
    @include font-size($badge-font-size, true);
    font-weight:      $badge-font-weight;
    line-height:      1;
    text-align:       center;
    white-space:      nowrap;
    vertical-align:   baseline;
    border-radius:    $badge-border-radius !important;
    @include transition($badge-transition);
    background-color: $primary !important;
  }

  .ti-new-tag-input {
    font-family: $input-font-family;
    @include font-size($input-font-size);
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color:       $input-color;
  }

  @each $state, $data in $form-validation-states {
    &.is-#{$state} .ti-input {
      border-color: map-get($data, color);

      @if $enable-validation-icons {
        padding-right:       $input-height-inner !important;
        background-image:    map-get($data, icon);
        background-repeat:   no-repeat;
        background-position: center right $input-height-inner-quarter;
        background-size:     $input-validation-icon-size $input-validation-icon-size;
      }

      &:focus {
        border-color: map-get($data, color);
        box-shadow:   0 4px 20px rgba(map-get($data, color), .25);
      }

      ~ .#{$state}-feedback,
      ~ .#{$state}-tooltip {
        display: block;
      }
    }
  }

}