<template>
  <transition name="fade" mode="out-in">
    <router-view/>
  </transition>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'RecipesMainPage',

  computed: {
    ...mapGetters({
      user: 'auth/user',
      favoriteIds: 'recipes/favoriteIds',
      postponedIds: 'recipes/postponedIds',
    }),
  },

  created () {
    if (this.user && this.favoriteIds.length === 0 && this.postponedIds.length === 0) {
      this.$store.dispatch('recipes/getUserPreferencesFromServer', { initialLoad: true });
    }
  },

}
</script>
