<template>
  <no-ssr>
    <div>
      <template v-if="recipes.length">
        <div class="row">
          <div v-for="recipe in recipes"
               :key="recipe.id"
               class="col-md-4 d-flex align-items-stretch">
            <recipe-card-short :recipe="recipe"
                               @open-recipe="openRecipe"/>
          </div>
        </div>

        <div class="mt-4">
          <paginate v-if="pagesTotal > 1"
                    :page-count="pagesTotal"
                    :click-handler="changePage"
                    :container-class="'d-flex justify-content-center pagination'"
                    :page-class="'page-item'"
                    :prev-class="'page-item'"
                    :next-class="'page-item'"
                    :page-link-class="'page-link'"
                    :prev-link-class="'page-link'"
                    :next-link-class="'page-link'"
                    prev-text="&laquo;"
                    next-text="&raquo;"
          />
        </div>
      </template>
      <div v-else>Нет отложенных рецептов.</div>
    </div>
  </no-ssr>
</template>

<script>
import axios from 'axios';
import RecipeCardShort from '~/components/recipes/RecipeCardShort';
import Paginate from 'vuejs-paginate/src/components/Paginate.vue';

export default {
  name: 'RecipesPostponed',
  middleware: 'auth',

  components: {
    Paginate,
    RecipeCardShort,
  },

  data: () => ({
    requestInProgress: false,
    recipes: [],
    currentPage: 1,
    pagesTotal: 1,
  }),

  created () {
    if (process.client) {
      this.loadRecipes();
    }
  },

  methods: {
    changePage (page) {
      this.currentPage = page;
      this.loadRecipes();
    },
    loadRecipes () {
      if (this.requestInProgress) {
        return;
      }
      this.requestInProgress = true;
      axios.get('/api/recipe/postponed', { params: { page: this.currentPage } })
        .then(({ data }) => {
          this.recipes = data.data || [];
          // eslint-disable-next-line camelcase
          this.currentPage = data.meta?.current_page || this.currentPage;
          // eslint-disable-next-line camelcase
          this.pagesTotal = data.meta?.last_page || this.pagesTotal;
          this.requestInProgress = false;
        })
        .catch(() => {
          this.requestInProgress = false;
        });
    },
    openRecipe ({ id }) {
      this.$router.push({ name: 'recipe', params: { recipeId: id } });
    },
  },
}
</script>
