<template>
  <recipe-card v-if="recipe"
               :recipe="recipe"
               class="p-3"/>
</template>

<script>
import { mapGetters } from 'vuex';
import RecipeCard from '~/components/recipes/RecipeCard';

export default {
  name: 'Recipe',

  head () {
    return { title: this.recipe?.name || '' }
  },

  components: {
    RecipeCard,
  },

  async fetch ({ store, route }) {
    const recipes = store.getters['recipes/recipes'];
    const recipeId = route.params?.recipeId;

    if (
      !recipes ||
      recipes.length === 0 ||
      recipes.findIndex(recipe => recipe.id === Number(recipeId)) === -1
    ) {
      await store.dispatch('recipes/getRecipeFromServer', { recipeId });
    }
  },

  computed: {
    id () {
      return Number(this.$route?.params?.recipeId);
    },
    recipe () {
      return this.recipes.find(recipe => recipe.id === this.id);
    },
    ...mapGetters({
      recipes: 'recipes/recipes',
    }),
  },
}
</script>
