<template>
  <div>
    <!--параметры поиска-->
    <no-ssr>
      <recipes-search-options
        :storage-key="storageKey"
        :min-cost-limiter="minPortionCostLimiter"
        :max-cost-limiter="maxPortionCostLimiter"
        :initial-filters-settings="filters"
        @filters-initialised="updateFilters"
        @filters-applied="applyFilters"/>
    </no-ssr>

    <!--результаты поиска-->
    <div v-if="!requestInProgress" class="row">
      <template v-if="recipesRecommendations.length">
        <div v-for="recipe in recipesRecommendations"
             :key="recipe.id"
             class="col-md-4 d-flex align-items-stretch mb-4">
          <recipe-card-short :recipe="recipe"
                             @open-recipe="openRecipe"/>
        </div>
      </template>
      <div v-else class="col">Не найдено ни одного рецепта</div>
      <div class="col">
        <b-button variant="primary"
                  size="sm"
                  block
                  @click.prevent="loadRecipes">
          Обновить
        </b-button>
      </div>
    </div>
    <div v-else class="mx-auto">Загрузка...</div>

  </div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import RecipeCardShort from '~/components/recipes/RecipeCardShort';
import RecipesSearchOptions from '~/components/recipes/RecipesSearchOptions';

export default {
  name: 'RecipesSearch',

  components: {
    RecipeCardShort,
    RecipesSearchOptions,
  },

  data: () => ({
    storageKey: 'search-recipes-filters',
    minPortionCostLimiter: 0,
    maxPortionCostLimiter: 1000,
    filters: {
      onlyChecked: 0,
      vegetarian: 0,
      vegan: 0,
      portionCost: [0, 1000],
      cookingTime: '',
    },
    requestInProgress: false,
  }),

  computed: {
    ...mapGetters({
      // Рецепты этого раздела сохраняются в хранилище, чтобы при навигации не терять данные
      recipesRecommendations: 'recipes/recipesRecommendations',
      recommendationsAddedAt: 'recipes/recommendationsAddedAt',
    }),
  },

  methods: {
    loadRecipes () {
      this.requestInProgress = true;
      const anyPortionCost =
        this.minPortionCostLimiter === this.filters.portionCost[0] &&
        this.maxPortionCostLimiter === this.filters.portionCost[1];
      const params = {
        onlyChecked: this.filters.onlyChecked,
        vegetarian: this.filters.vegetarian,
        vegan: this.filters.vegan,
        anyPortionCost: anyPortionCost ? 1 : 0,
        minPortionCost: this.filters.portionCost[0],
        maxPortionCost: this.filters.portionCost[1],
        cookingTime: this.filters.cookingTime,
      };
      axios.get('/api/recipe/search', {
        params,
      })
        .then(({ data: { recipes } }) => {
          this.$store.dispatch('recipes/setRecipesRecommendations', { recipes });
          this.requestInProgress = false;
        })
        .catch(() => {
          this.requestInProgress = false;
        });
    },
    updateFilters ({ filters }) {
      // todo запуск только если рецепты еще не загружены,либо устарели (30 минут)
      if (Date.now() > (this.recommendationsAddedAt + 1000 * 60 * 30) || this.recipesRecommendations.length === 0) {
        this.filters = filters;
        this.loadRecipes();
      }
    },
    applyFilters ({ filters }) {
      this.filters = filters;
      this.loadRecipes();
    },
    openRecipe ({ id }) {
      this.$router.push({ name: 'recipe', params: { recipeId: id } });
    },
  },
}
</script>
