<template>
  <div>
    <h1>Какие рецепты можно приготовить на {{ cost }} рублей (за порцию)</h1>

    <p v-if="recipes.length > 0">Эти рецепты обойдутся вам в {{ cost }} рублей за порцию.</p>

    <template v-if="!requestInProgress">
      <template v-if="recipes.length">
        <div class="row">
          <div v-for="recipe in recipes"
               :key="recipe.id"
               class="col-md-4 d-flex align-items-stretch mb-4">
            <recipe-card-short :recipe="recipe"
                               @open-recipe="openRecipe"/>
          </div>
        </div>

        <div class="mt-4">
          <paginate v-if="pagesTotal > 1"
                    :page-count="pagesTotal"
                    :click-handler="changePage"
                    :container-class="'d-flex justify-content-center pagination'"
                    :page-class="'page-item'"
                    :prev-class="'page-item'"
                    :next-class="'page-item'"
                    :page-link-class="'page-link'"
                    :prev-link-class="'page-link'"
                    :next-link-class="'page-link'"
                    prev-text="&laquo;"
                    next-text="&raquo;"
          />
        </div>

      </template>
      <p v-else>Не найдено ни одного рецепта.</p>
    </template>
    <div v-else class="mx-auto">Загрузка...</div>
  </div>
</template>

<script>
import axios from 'axios';
import Paginate from 'vuejs-paginate/src/components/Paginate.vue';
import RecipeCardShort from '~/components/recipes/RecipeCardShort';
import RecipesSearchOptions from '~/components/recipes/RecipesSearchOptions';

export default {
  name: 'RecipesWithCost',

  head () {
    return { title: `Что можно приготовить на ${this.$route.params.cost} рублей` }
  },

  components: {
    RecipeCardShort,
    RecipesSearchOptions,
    Paginate,
  },

  asyncData ({ params }) {
    const url = `/api/recipe/portion-cost-under/${params.cost}`;
    return axios.get(url)
      .then((response) => {
        return {
          response: response.data,
          recipes: response.data.data,
          pagesTotal: response.data.meta.last_page,
        }
      })
  },

  data: () => ({
    pagesTotal: 1,
    currentPage: 1,

    minPortionCostLimiter: 0,
    maxPortionCostLimiter: 1000,
    filters: {
      cost: [0, 1000],
    },
    requestInProgress: false,
    recipes: [],
  }),

  computed: {
    cost () {
      return Number(this.$route?.params?.cost || 0);
    },
  },

  watch: {
    recipes (recipes) {
      // инверсия, чтобы не держать данные о странице и рецептах а рвзных местах.
      this.$store.dispatch('recipes/setRecipes', { recipes });
    },
  },

  created () {
    if (this.cost) {
      this.filters.cost = [0, this.cost];
    }
    this.$store.dispatch('recipes/setRecipes', { recipes: this.recipes });
  },

  methods: {
    changePage (page) {
      this.currentPage = page;
      this.loadRecipes();
    },

    loadRecipes () {
      this.requestInProgress = true;
      const url = `/api/recipe/portion-cost-under/${this.cost}`;

      axios.get(url, {
        params: {
          page: this.currentPage,
        },
      })
        .then(({ data }) => {
          this.recipes = data.data;
          this.requestInProgress = false;
        })
        .catch(() => {
          this.requestInProgress = false;
        });
    },
    openRecipe ({ id }) {
      this.$router.push({ name: 'recipe', params: { recipeId: id } });
    },
  },
}
</script>
