<template>
  <div>
    <nav-block v-if="!user"
               :title="$t('login')"
               class="mb-4 d-block d-md-none">
      <ul class="nav flex-column nav-pills">
        <li v-for="tab in loginTabs" :key="tab.route" class="nav-item">
          <nuxt-link :to="{ name: tab.route }" class="nav-link" active-class="active">
            <fa :icon="tab.icon"
                fixed-width
                class="nav-icon"/>
            {{ tab.name }}
          </nuxt-link>
        </li>
      </ul>
    </nav-block>
    <nav-block title="Рецепты"
               class="mb-4">
      <ul class="nav flex-column nav-pills">
        <li v-for="tab in recipeTabs" :key="tab.route" class="nav-item">
          <nuxt-link v-if="tab.isAvailable"
                     :to="{ name: tab.route }"
                     class="nav-link"
                     active-class="active">
            <fa :icon="tab.icon"
                fixed-width
                class="nav-icon"/>
            {{ tab.name }}
          </nuxt-link>
          <span v-b-popover.hover="'Раздел доступен только для зарегистрированных пользователей'"
                v-else>
            <span class="nav-link disabled">
              <fa :icon="tab.icon"
                  fixed-width
                  class="nav-icon"/>
              {{ tab.name }}
            </span>
          </span>
        </li>
      </ul>
    </nav-block>

    <nav-block v-if="user"
               :title="$t('dashboard.menu')"
               class="mb-4">
      <ul class="nav flex-column nav-pills">
        <li v-for="tab in dashboardTabs" :key="tab.route" class="nav-item">
          <nuxt-link :to="{ name: tab.route }" class="nav-link" active-class="active">
            <fa :icon="tab.icon"
                fixed-width
                class="nav-icon"/>
            {{ tab.name }}
          </nuxt-link>
        </li>
      </ul>
    </nav-block>

    <nav-block v-if="user"
               :title="$t('settings')"
               class="mb-4 d-block d-md-none">
      <ul class="nav flex-column nav-pills">
        <li v-for="tab in profileTabs" :key="tab.route" class="nav-item">
          <nuxt-link :to="{ name: tab.route }" class="nav-link" active-class="active">
            <fa :icon="tab.icon"
                fixed-width
                class="nav-icon"/>
            {{ tab.name }}
          </nuxt-link>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" @click.prevent="logout">
            <fa icon="sign-out-alt" class="nav-icon" fixed-width/>
            {{ $t('logout') }}
          </a>
        </li>
      </ul>
    </nav-block>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'NavbarSide',

  computed: {
    dashboardTabs () {
      let tabs = [];

      if (this.user?.role === 'admin') {
        tabs.push(
          {
            icon: 'folder-open',
            name: 'Все рецепты',
            route: 'dashboard.admin.recipes.list',
          });
        tabs.push(
          {
            icon: 'folder-open',
            name: 'Все ингредиенты',
            route: 'dashboard.admin.ingredients.list',
          });
      }

      tabs.push(
        {
          icon: 'user-tag',
          name: 'Мои рецепты',
          route: 'dashboard.recipes.my',
        });

      tabs.push({
        icon: 'pencil-alt',
        name: 'Добавить рецепт',
        route: 'dashboard.recipes.add',
      });

      // todo если у пользователя есть права
      // eslint-disable-next-line camelcase
      if (this.user?.can_approve_recipes) {
        tabs.push({
          icon: 'clipboard-list',
          name: 'Проверить рецепты',
          route: 'dashboard.recipes.approve',
        });
      }
      // eslint-disable-next-line camelcase
      if (this.user?.can_approve_ingredients) {
        tabs.push({
          icon: 'clipboard-list',
          name: 'Проверить ингредиенты',
          route: 'dashboard.ingredients.approve',
        });
      }

      return tabs;
    },
    loginTabs () {
      return [
        {
          icon: 'sign-in-alt',
          name: this.$t('login'),
          route: 'login',
        },
        {
          icon: 'user',
          name: this.$t('register'),
          route: 'register',
        },
      ];
    },
    profileTabs () {
      return [
        {
          icon: 'user',
          name: this.$t('profile'),
          route: 'settings.profile',
        },
        {
          icon: 'lock',
          name: this.$t('password'),
          route: 'settings.password',
        },
      ];
    },
    recipeTabs () {
      let tabs = [
        {
          icon: 'drumstick-bite',
          name: 'Рецепты дня',
          route: 'recipes.recommendations',
          isAvailable: true,
        },
      ];

      tabs.push({
        icon: 'heart',
        name: 'Избранные',
        route: 'recipes.favorites',
        isAvailable: !!this.user,
      });
      tabs.push({
        icon: ['far', 'clock'],
        name: 'Отложенные',
        route: 'recipes.postponed',
        isAvailable: !!this.user,
      });

      return tabs;
    },
    ...mapGetters({
      user: 'auth/user',
    }),
  },

  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout');

      // Redirect to login.
      this.$router.push({ name: 'login' })
    },
  },
}
</script>
