<template>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
    <div class="container">
      <nuxt-link :to="{ name: 'recipes.recommendations' }" class="navbar-brand">
        <fa icon="utensils" class="navbar-icon mr-3"/>
        {{ appName }}
      </nuxt-link>

      <button type="button"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              @click="toggleMobileNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--<b-navbar-toggle target="navbarToggler"/>-->
      <!--<button :aria-label="$t('toggle_navigation')" class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarToggler"
              aria-controls="navbarToggler" aria-expanded="false"
      >
        <span class="navbar-toggler-icon"/>
      </button>-->

      <b-collapse id="navbarToggler" class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto">
          <!-- Authenticated -->
          <li v-if="user" class="nav-item dropdown">
            <b-dropdown toggle-class="nav-item" variant="transparent" menu-class="w-100">
              <template slot="button-content">
                <div :style="{'background-image': `url(${user.photo_url}`}"
                     class="profile-photo mr-2"></div>
                {{ user.name }}
              </template>

              <!--<nuxt-link :to="{ name: 'settings.profile' }" class="dropdown-item pl-3">
                <fa icon="cog" fixed-width/>
                {{ $t('settings') }}
              </nuxt-link>

              <b-dd-divider/>-->

              <nuxt-link v-for="tab in profileTabs"
                         :key="tab.route"
                         :to="{ name: tab.route }"
                         class="dropdown-item"
                         active-class="active">
                <fa :icon="tab.icon"
                    fixed-width
                    class="nav-icon"/>
                {{ tab.name }}
              </nuxt-link>

              <b-dd-divider/>

              <a class="dropdown-item" href="#" @click.prevent="logout">
                <fa icon="sign-out-alt" class="nav-icon" fixed-width/>
                {{ $t('logout') }}
              </a>

            </b-dropdown>

          </li>
          <!-- Guest -->
          <template v-else>
            <li class="nav-item">
              <nuxt-link :to="{ name: 'login' }" class="nav-link" active-class="active">
                {{ $t('login') }}
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link :to="{ name: 'register' }" class="nav-link" active-class="active">
                {{ $t('register') }}
              </nuxt-link>
            </li>
          </template>
        </ul>
      </b-collapse>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {

  data: () => ({
    appName: process.env.appName,
  }),

  computed: {
    profileTabs () {
      return [
        {
          icon: 'user',
          name: this.$t('profile'),
          route: 'settings.profile',
        },
        {
          icon: 'lock',
          name: this.$t('password'),
          route: 'settings.password',
        },
      ];
    },
    ...mapGetters({
      user: 'auth/user',
    }),
  },

  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout');

      // Redirect to login.
      this.$router.push({ name: 'login' })
    },
    toggleMobileNav () {
      this.$eventHub.$emit('toggleMobileNav');
    },
  },
}
</script>
