<template>
  <transition name="fade" mode="out-in">
    <router-view/>
  </transition>
</template>

<script>
export default {
  name: 'Dashboard',
  middleware: 'auth',
  async fetch ({ store, params }) {
    // https://nuxtjs.org/api/pages-fetch
    // todo: переместить в какой-нибудь менеджер предварительлной загрузки данных
    return Promise.all([
      store.dispatch('recipes/getCategoriesFromServer'),
      store.dispatch('recipes/getIngredientsFromServer'),
      store.dispatch('recipes/getCookingTypesFromServer'),
    ]);
  },
}
</script>
